/*! modern-normalize v3.0.1 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  /* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.15; /* 1. Correct the line height in all browsers. */
  -webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
  tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
}

/*
Sections
========
*/
body {
  margin: 0; /* Remove the margin in all browsers. */
}

/*
Text-level semantics
====================
*/
/**
Add the correct font weight in Chrome and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
Correct table border color inheritance in Chrome and Safari. (https://issues.chromium.org/issues/40615503, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  border-color: currentcolor;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

:root {
  /* Spacing */
  --mv-spacing-xs: 0.5rem;
  --mv-spacing-s: 0.75rem;
  --mv-spacing-m: 1rem;
  --mv-spacing-l: 1.5rem;
  --mv-spacing-xl: 2rem;
  /* Gap */
  --mv-cluster-gap: var(--mv-spacing-s);
  /* Sizing */
  --mv-font-size-s: 0.6875rem;
  --mv-font-size-m: 0.75rem;
  --mv-font-size-l: 0.8125rem;
  --mv-font-size-xl: 0.875rem;
  --mv-font-size-2xl: 0.9375rem;
  --mv-font-size-3xl: 1.25rem;
  /* Radius */
  --mv-radius-s: 0.375rem;
  --mv-radius-m: 0.75rem;
  /* Background */
  --mv-background-primary: #F6F6F9;
  --mv-background-invert: #1D1C41;
  --mv-background-invert-gradient: #142848;
  /* Surface */
  /* Control */
  /* Type */
  --mv-text-primary: #1D1C41;
  --mv-text-invert: #F6F6F9;
  /* Components */
  --mv-scrollbar-width: 0;
  --mv-sidebar-left-width: 15rem;
  --mv-sidebar-left-min-width: 12.5rem;
  --mv-sidebar-right-width: 20rem;
  --mv-sidebar-right-min-width: 12.5rem;
  --mv-sidebar-component-width: 20rem;
  --mv-sidebar-component-min-width: 12.5rem;
  --mv-sidebar-component-max-width: 35rem;
  --mv-sidebar-component-hide: 2.5rem;
  --mv-mobile: 1;
}
@media screen and (min-width: 48rem) {
  :root {
    --mv-mobile: 0;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  position: fixed;
  width: 100%;
}

html {
  display: flex;
  height: 100%;
  overflow: hidden;
}

body {
  color: #fff;
  background: var(--body, linear-gradient(180deg, var(--mv-background-invert) 0%, var(--mv-background-invert-gradient) 100%));
  font-family: "Ubuntu", sans-serif;
  height: 100%;
  overflow: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

svg {
  fill: currentColor;
}

.uikit {
  display: flex;
  flex-direction: column;
  block-size: 100vh;
  min-block-size: 20rem;
  overflow: hidden;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
}

.header__brand {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header__brand {
  transition: min-inline-size 300ms ease-in-out 0ms;
}
@media screen and (min-width: 48rem) {
  .header__brand {
    min-inline-size: var(--mv-sidebar-left-width);
  }
}

.header__search {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__switch {
  display: none;
}
@media screen and (min-width: 48rem) {
  .header__switch {
    display: flex;
  }
}

.header__utilities {
  display: none;
  gap: 0.75rem;
}
@media screen and (min-width: 30rem) {
  .header__utilities {
    display: flex;
  }
}

.header__utility {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__profile {
  display: flex;
  align-items: center;
  justify-content: center;
}

.layout {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  max-inline-size: 100%;
}

.sidebar {
  position: relative;
  min-inline-size: 3rem;
  max-inline-size: 33vw;
}

.sidebar--left {
  inline-size: 3rem;
  max-inline-size: min(33vw, 20rem);
  overflow: hidden;
  margin-inline-start: -0.5rem;
  transition: inline-size 300ms ease-in-out, min-inline-size 300ms ease-in-out;
  flex: 0 0 auto;
  max-height: 100%;
  display: flex;
}
@media screen and (min-width: 48rem) {
  .sidebar--left {
    inline-size: var(--mv-sidebar-left-width);
  }
}
.sidebar--left > .inner {
  min-inline-size: max(var(--mv-sidebar-left-width), var(--mv-sidebar-left-min-width));
}

.uikit.has\:resizing * {
  transition-duration: 0ms !important;
  animation-duration: 0ms !important;
}

.uikit.is\:initializing * {
  animation-duration: 0ms !important;
}

.sidebar__resizer {
  position: absolute;
  inset-block-start: 0;
  inset-block-end: 0;
  inset-inline-end: 0;
  z-index: 9;
  inline-size: 0.5rem;
  background: transparent;
  cursor: ew-resize;
  display: none;
}
.sidebar__resizer:hover, .sidebar__resizer:focus {
  background: #3FB2FF;
}
@media screen and (min-width: 48rem) {
  .sidebar__resizer {
    display: block;
  }
}

.sidebar[data-resizing] .sidebar__resizer {
  background: #3FB2FF;
}

.has\:toggled-sidebar-left .header__brand {
  min-inline-size: 0;
}
.has\:toggled-sidebar-left .sidebar--left {
  min-inline-size: calc(100vw - 1rem);
  inline-size: 3rem;
}
@media screen and (min-width: 48rem) {
  .has\:toggled-sidebar-left .sidebar--left {
    min-inline-size: 3rem;
  }
}
.has\:toggled-sidebar-left .sidebar-toggle-left .is\:off {
  display: none;
}
.has\:toggled-sidebar-left .sidebar-toggle-left .is\:on {
  display: block;
}
.has\:toggled-sidebar-left .navigation-wrapper > *:not(.navigation--persistent) {
  display: block;
}
@media screen and (min-width: 48rem) {
  .has\:toggled-sidebar-left .navigation-wrapper > *:not(.navigation--persistent) {
    display: none;
  }
}

.navigation-wrapper > *:not(.navigation--persistent) {
  display: none;
}
@media screen and (min-width: 48rem) {
  .navigation-wrapper > *:not(.navigation--persistent) {
    display: block;
  }
}

.has\:toggled-sidebar-right .sidebar--right {
  transform: translateX(0);
}
@media screen and (min-width: 48rem) {
  .has\:toggled-sidebar-right .sidebar--right[data-sidebar-type=sidebar] {
    display: flex;
    animation: slideInRight 300ms ease-in-out;
    min-inline-size: var(--mv-sidebar-right-min-width);
  }
}
.has\:toggled-sidebar-right .sidebar--right .sidebar__resizer {
  display: block;
}
.has\:toggled-sidebar-right .sidebar-toggle-right {
  color: #3FB2FF;
}

@keyframes slideInRight {
  from {
    min-inline-size: 0;
    max-inline-size: 0;
  }
  to {
    min-inline-size: min(var(--mv-sidebar-right-width), 40vw);
    max-inline-size: min(var(--mv-sidebar-right-width), 40vw);
  }
}
.sidebar-overlay-toggle {
  background: #fff;
  z-index: 1;
  opacity: 0.65;
  cursor: pointer;
  border-radius: var(--mv-radius-s);
}
.sidebar-overlay-toggle {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.sidebar-overlay-toggle {
  transition: background 300ms ease-in-out 0ms;
}
.sidebar-overlay-toggle:hover, .sidebar-overlay-toggle:focus {
  background: #3FB2FF;
}
@media screen and (min-width: 48rem) {
  .sidebar-overlay-toggle {
    display: none;
  }
}

@media screen and (min-width: 48rem) {
  .has\:toggled-sidebar-component .sidebar--component {
    min-inline-size: var(--mv-sidebar-component-width);
  }
}
.has\:toggled-sidebar-component .sidebar--component .sidebar__resizer {
  display: none;
}
.has\:toggled-sidebar-component .sidebar--component .sidebar-overlay-toggle {
  display: none;
}
@media screen and (min-width: 48rem) {
  .has\:toggled-sidebar-component .sidebar--component .sidebar-overlay-toggle {
    display: block;
  }
}
.has\:toggled-sidebar-component .main > * {
  transform: translateX(calc(min(var(--mv-sidebar-component-width), 100%) * -1 + var(--mv-sidebar-component-hide) - 0.5rem));
}
@media screen and (min-width: 48rem) {
  .has\:toggled-sidebar-component .main > * {
    transform: none;
  }
}
@media screen and (min-width: 48rem) {
  .has\:toggled-sidebar-component .content {
    min-inline-size: calc(100% - var(--mv-sidebar-component-hide));
  }
}

.uikit:has(.sidebar--left) .component {
  min-inline-size: calc(100vw - 3rem - 0.5rem);
}
@media screen and (min-width: 48rem) {
  .uikit:has(.sidebar--left) .component {
    min-inline-size: 0;
  }
}

.component {
  display: flex;
  flex: 1 1 auto;
  gap: var(--mv-spacing-s);
  max-inline-size: 100%;
  flex-direction: column;
  min-inline-size: 100%;
  overflow: hidden;
}

.toolbar {
  display: flex;
}

.cluster {
  display: flex;
  flex-wrap: wrap;
  gap: var(--mv-cluster-gap);
  flex: 1 1 auto;
}

.visually\:hidden {
  position: absolute;
  overflow: hidden;
  backface-visibility: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: none;
}

.sidebar--right {
  position: absolute;
  top: 0;
  bottom: 0.5rem;
  right: 0;
  z-index: 9;
  flex: 0 0 auto;
  max-inline-size: calc(100vw - 6rem);
  inline-size: var(--mv-sidebar-right-width);
  transform: translateX(100%);
  transition: transform 300ms ease-in-out, inline-size 300ms ease-in-out;
  flex-direction: column;
}
.sidebar--right .sidebar__body {
  border-radius: var(--mv-radius-m) 0 0 var(--mv-radius-m);
}
@media screen and (min-width: 48rem) {
  .sidebar--right[data-sidebar-type=sidebar] {
    position: relative;
    bottom: auto;
    min-inline-size: calc(100vw - 3rem);
    max-inline-size: 40vw;
    padding-inline-start: 0.5rem;
    animation: slideOutRight 300ms ease-in-out forwards;
    transform: none;
  }
  .sidebar--right[data-sidebar-type=sidebar] .sidebar__body {
    border-radius: var(--mv-radius-m);
  }
}
.sidebar--right[data-sidebar-type=sidebar] [data-sidebar-type-toggle=sidebar] {
  display: none;
}
.sidebar--right[data-sidebar-type=cover] {
  position: fixed;
  top: 0.5rem;
  left: 0.5rem;
  right: 0.5rem;
  z-index: 11;
  max-inline-size: calc(100% - 1rem);
  inline-size: calc(100% - 1rem);
  border-radius: var(--mv-radius-m);
}
.sidebar--right[data-sidebar-type=cover] [data-sidebar-type-toggle=cover] {
  display: none;
}
.sidebar--right[data-sidebar-type=float] .sidebar__resizer {
  inset-inline-start: 0;
}
.sidebar--right[data-sidebar-type=float] [data-sidebar-type-toggle=float] {
  display: none;
}
.sidebar--right > .inner {
  min-inline-size: max(var(--mv-sidebar-right-width), var(--mv-sidebar-right-min-width));
}
.sidebar--right .sidebar__resizer {
  inset-inline-end: auto;
  inset-inline-start: 0;
  display: none;
}
@media screen and (min-width: 48rem) {
  .sidebar--right {
    min-inline-size: 3rem;
  }
}

@keyframes slideOutRight {
  from {
    min-inline-size: min(var(--mv-sidebar-right-width), 40vw);
    max-inline-size: min(var(--mv-sidebar-right-width), 40vw);
  }
  to {
    min-inline-size: 0;
    max-inline-size: 0;
  }
}
.main {
  display: flex;
  flex: 1 1 auto;
  gap: var(--mv-spacing-xs);
  transition: transform 300ms ease-in-out;
  overflow: hidden;
}

.content {
  flex: 1 1 auto;
  min-inline-size: calc(100% - var(--mv-sidebar-component-hide));
  transition: all 300ms ease-in-out;
}
@media screen and (min-width: 48rem) {
  .content {
    min-inline-size: calc(100% - var(--mv-sidebar-component-width) - var(--mv-spacing-xs));
  }
}

.sidebar--component {
  position: relative;
  inline-size: var(--mv-sidebar-component-width);
  min-inline-size: min(var(--mv-sidebar-component-width), 100%);
  max-inline-size: 100%;
  flex: 0 0 auto;
}
.sidebar--component {
  transition: transform 300ms ease-in-out 0ms, inline-size 300ms ease-in-out 0ms;
}
@media screen and (min-width: 48rem) {
  .sidebar--component {
    min-inline-size: var(--mv-sidebar-component-min-width);
    max-inline-size: min(33vw, var(--mv-sidebar-component-max-width));
  }
}
.sidebar--component > .inner {
  min-inline-size: max(var(--mv-sidebar-component-width), var(--mv-sidebar-component-min-width));
  max-inline-size: 100%;
}
.sidebar--component .sidebar__resizer {
  inset-inline-end: 100%;
}

[hidden] {
  display: none !important;
}

.search-wrapper {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 9;
  padding: 0 1rem;
  display: none;
}
@media screen and (min-width: 48rem) {
  .search-wrapper {
    position: static;
    display: flex;
    padding: 0;
    width: 100%;
  }
}

@media screen and (min-width: 48rem) {
  .toggle-search.toggle-search {
    display: none;
  }
}

.toggle-wrapper {
  display: none;
}
.toggle-wrapper button {
  background: transparent;
  border: none;
  padding: 0;
  color: inherit;
  cursor: pointer;
}

.uikit:has(.sidebar--left:not([hidden])) .toggle-wrapper--sidebar-left {
  display: block;
}

.uikit:has(.sidebar--right:not([hidden])) .toggle-wrapper--sidebar-right {
  display: block;
}

.uikit:has(.sidebar--component:not([hidden])) .toggle-wrapper--sidebar-component {
  display: flex;
}

.uikit.has\:toggled-search .search-wrapper {
  display: block;
}

.is\:on {
  display: none;
}

.sidebar-toggle-left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  margin: -0.5rem;
}

.sidebar__navigation [data-sidebar-type-toggle=sidebar],
.sidebar__navigation [data-sidebar-type-toggle=float] .layer-icon {
  display: none;
}
@media screen and (min-width: 48rem) {
  .sidebar__navigation [data-sidebar-type-toggle=sidebar],
  .sidebar__navigation [data-sidebar-type-toggle=float] .layer-icon {
    display: block;
  }
}

.sidebar__navigation [data-sidebar-type-toggle=float] .close-icon {
  display: none;
}

[data-sidebar-type=cover] .close-icon {
  display: block !important;
}
@media screen and (min-width: 48rem) {
  [data-sidebar-type=cover] .close-icon {
    display: none !important;
  }
}

.uikit {
  font-size: var(--mv-font-size-m);
}

.header__brand {
  padding: var(--mv-spacing-m);
  font-weight: bold;
  font-size: var(--mv-font-size-2xl);
}

.header__search {
  padding: var(--mv-spacing-m) 0;
  text-align: center;
}
.header__search .search {
  position: relative;
  width: 100%;
  max-width: 25rem;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
}
.header__search .search [type=search] {
  width: 100%;
  height: 2.5rem;
  background: #fff;
  border: none;
  border-radius: var(--mv-radius-s);
  padding-left: 2.5rem;
  padding-right: 1rem;
}
.header__search .search button {
  position: absolute;
  top: 0;
  left: 0;
  height: 2.5rem;
  width: 2.5rem;
  background: transparent;
  border: none;
  padding: 0;
  color: #93AFC2;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: var(--mv-radius-s) 0 0 var(--mv-radius-s);
}
.header__search .search button:hover, .header__search .search button:focus {
  color: #000;
  background: #d4e3ee;
}
.header__search .search button svg {
  display: block;
}

.header__switch {
  padding: var(--mv-spacing-m);
}
.header__switch select {
  height: 2.5rem;
  background: #fff;
  border: none;
  border-radius: var(--mv-radius-s);
  padding: 0.375rem 0.5rem;
}

.header__utilities {
  padding: var(--mv-spacing-m) 0;
}

.header__utility {
  inline-size: 2.5rem;
  block-size: 2.5rem;
  border: 1px solid #31475A;
  border-radius: var(--mv-radius-s);
}

.header__profile {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--mv-spacing-m);
  padding: var(--mv-spacing-m);
}
.header__profile svg {
  fill: currentColor;
}

.profile {
  display: flex;
  inline-size: 4rem;
  block-size: 2rem;
  background: transparent;
  border: none;
  padding: 0;
  color: currentColor;
  cursor: pointer;
}

.profile__initials {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 2rem;
  block-size: 100%;
  background: #3FB2FF;
  border-radius: 100%;
  font-size: 16px;
  font-weight: 700;
}

.profile__indicator {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile__indicator svg {
  width: 1rem;
  height: 1rem;
}

.layout {
  padding-inline-start: var(--mv-spacing-xs);
  padding-inline-end: var(--mv-spacing-xs);
  padding-block-end: var(--mv-spacing-xs);
}

.component {
  color: var(--mv-text-primary);
  background: var(--mv-background-primary);
  border-radius: var(--mv-radius-m);
  padding: 1rem;
}
@media screen and (min-width: 48rem) {
  .component {
    min-inline-size: 0;
  }
}

.sidebar--left > .inner {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.sidebar__body {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.15), 0 0 24px rgba(0, 0, 0, 0.25);
  color: var(--mv-text-primary);
  background: var(--mv-background-primary);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1 1 auto;
  max-height: 100%;
}
.sidebar__body > * {
  min-inline-size: calc(var(--mv-sidebar-right-min-width) - 0.5rem);
}
.sidebar__body > .inner {
  padding: var(--mv-spacing-m);
  overflow: auto;
  flex: 1 1 auto;
}

.sidebar--component {
  display: flex;
  flex-direction: column;
}
.sidebar--component > .inner {
  background: #fff;
  border: 1px solid #B7CAD7;
  border-radius: 0.5rem;
  overflow: auto;
  flex: 1 1 auto;
  padding: 1rem;
}

.button {
  background: #D4E3ED;
  border: 1px solid #B7CAD7;
  border-radius: var(--mv-radius-s);
  min-height: var(--mv-spacing-xl);
  display: flex;
  align-items: center;
  padding: var(--mv-spacing-xs) var(--mv-spacing-s);
  font-weight: bold;
  cursor: pointer;
}

.navigation-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 0.5rem 0;
}
.navigation-wrapper hr {
  border: none;
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
  margin: 1rem 0;
}
.navigation-wrapper .navigation:last-child:not(:first-child) {
  margin-top: auto;
}

.navigation__heading {
  font-size: var(--mv-font-size-m);
  color: #ACC6D9;
  padding: var(--mv-spacing-m);
  text-transform: uppercase;
  letter-spacing: 0.01em;
  font-weight: 400;
}

.navigation__list {
  padding-left: 0;
  padding-right: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0;
}
.navigation__list > ::marker {
  font-size: 0;
}
.navigation__list li {
  padding-left: 0.625rem;
}
.navigation__list li {
  position: relative;
}
.navigation__list li::before {
  position: absolute;
  content: " ";
  display: block;
  top: 0.375rem;
  left: 0;
  bottom: 0.375rem;
  width: 0.25rem;
  background: #40b2ff;
  border-radius: 3px;
  opacity: 0;
}
.navigation__list a {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5625rem 0.5rem;
  font-size: var(--mv-font-size-xl);
  border: 1px solid transparent;
  border-radius: var(--mv-radius-s);
}
.navigation__list a svg {
  width: 16px;
  height: 16px;
  fill: #a7d8f3;
}
.navigation__list a:hover, .navigation__list a:focus {
  background: #283b65;
  border-color: #3d5075;
}
.navigation__list .is\:active::before {
  opacity: 1;
}
.navigation__list .is\:active a {
  background: #283b65;
  border-color: #3d5075;
}

.filler {
  flex-grow: 1;
}

.toggle-wrapper--sidebar-right {
  padding-right: var(--mv-spacing-m);
}

.profile-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 9;
  width: 15rem;
  color: #000;
  background: #fff;
  border-radius: var(--mv-radius-s);
  border: 1px solid #B7CAD7;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  display: none;
}
.profile-dropdown ul {
  padding-left: 0;
  margin: 0;
}
.profile-dropdown ul > ::marker {
  font-size: 0;
}
.profile-dropdown ul li + li {
  border-top: 1px solid #e0e0e0;
}
.profile-dropdown ul a {
  display: block;
  padding: 0.75em 1em;
}
.profile-dropdown ul a:hover, .profile-dropdown ul a:focus {
  background: #d4e3ee;
}

.uikit.has\:toggled-profile .profile-dropdown {
  display: block;
}

.layout {
  overflow: hidden;
}

.sidebar--left {
  overflow: hidden;
}
.sidebar--left > .inner {
  overflow: auto;
}

.toggle-search {
  background: transparent;
  padding: 0;
  color: inherit;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(255, 255, 255, 0.66);
  border-radius: 100%;
}

.sidebar__tabs {
  position: relative;
  z-index: 1;
  flex: 0 0 auto;
  margin-bottom: -1px;
}
.sidebar__tabs ul {
  padding-left: 0;
  display: flex;
  gap: 0.5rem;
  margin: 0;
}
.sidebar__tabs ul > ::marker {
  font-size: 0;
}
.sidebar__tabs ul li {
  padding-bottom: 1px;
}
.sidebar__tabs ul a {
  display: flex;
  border-radius: 0.5em 0.5em 0 0;
  padding: 0.65em 1em;
  border: 1px solid transparent;
  border-bottom-width: 0;
}
.sidebar__tabs ul a:hover, .sidebar__tabs ul a:focus {
  background: rgba(255, 255, 255, 0.5);
  border-color: rgba(183, 202, 215, 0.5);
}
.sidebar__tabs ul .is\:active {
  padding-bottom: 0;
}
.sidebar__tabs ul .is\:active a {
  background: #fff;
  border-color: #b7cad7;
  height: 100%;
}

.sidebar--component:has(.sidebar__tabs li:first-child.is\:active) > .inner {
  border-top-left-radius: 0;
}

.tab-content {
  display: none;
  overflow: auto;
}
.tab-content.is\:active {
  display: block;
}

.filters {
  bordeR: 1px solid #BFD0DB;
  background: #fff;
  border-radius: var(--mv-radius-s);
  min-height: 2.5rem;
  display: flex;
}

.filters__icon {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter {
  position: relative;
}
.filter button {
  position: relative;
  z-index: 2;
  background: #fff;
  color: inherit;
  cursor: pointer;
  border: 1px solid #B7CAD7;
  height: calc(100% + 2px);
  margin: -1px;
  padding: 0 1em;
  display: flex;
  gap: 0.5em;
  align-items: center;
}
.filter button:hover, .filter button:focus {
  background: #d4e3ed;
}

.filter-dropdown {
  position: absolute;
  top: 100%;
  left: -1px;
  width: 100vw;
  max-width: 20rem;
  background: #fff;
  border: 1px solid #B7CAD7;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
  border-radius: 0 0 var(--mv-radius-s) var(--mv-radius-s);
  padding: 1rem;
}

.content {
  background: #fff;
  border: 1px solid #B7CAD7;
  padding: 1rem;
  border-radius: var(--mv-radius-s);
  font-size: var(--mv-font-size-3xl);
}

.reset-filters {
  margin-left: auto;
  display: flex;
  padding: 1em;
  align-items: center;
}
.reset-filters button {
  background: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
}

.content {
  overflow: auto;
}

.scroll-example-block {
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 1rem;
  font-size: 14px;
  margin-top: 1rem;
}

.sidebar__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem;
  background: #fff;
  border-bottom: 1px solid #B7CAD7;
}
.sidebar__navigation .cluster {
  flex: 0 0 auto;
}
.sidebar__navigation button {
  background: transparent;
  border: none;
  padding: 0;
  color: inherit;
  cursor: pointer;
}
.sidebar__navigation button svg {
  width: 1rem;
  height: 1rem;
}

.sidebar__title {
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
