@use "tools" as *;

:root {
  /* Spacing */
  --ui-spacing-xs: #{px(8)};
  --ui-spacing-s: #{px(12)};
  --ui-spacing-m: #{px(16)};
  --ui-spacing-l: #{px(24)};
  --ui-spacing-xl: #{px(32)};

  /* Gap */
  --ui-cluster-gap: var(--ui-spacing-s);

  /* Sizing */
  --ui-font-size-s: #{px(11)};
  --ui-font-size-m: #{px(12)};
  --ui-font-size-l: #{px(13)};
  --ui-font-size-xl: #{px(14)};
  --ui-font-size-2xl: #{px(15)};
  --ui-font-size-3xl: #{px(20)};

  /* Radius */
  --ui-radius-s: #{px(6)};
  --ui-radius-m: #{px(12)};

  /* Background */
  --ui-background-primary: #{$brand-light-accent1};
  --ui-background-invert: #{$brand-dark-shade1};
  --ui-background-invert-gradient: #{$brand-dark-shade2};

  /* Surface */
  --ui-surface-primary: #{$brand-light-accent2};
  --ui-surface-secondary: #{$brand-light-accent1};

  /* Control */
  --ui-control-primary: #{$brand-lighter-shade};
  --ui-control-secondary: #{$brand-light-accent2};
  --ui-control-tertiary: #{$brand-lightest-shade};
  --ui-control-brand: #{$brand};

  /* Type */
  --ui-text-primary: #{$brand-dark-shade1};
  --ui-text-invert: #{$brand-light-accent1};
  --ui-text-invert-hightlight: #{$brand-light-shade};

  /* Components */
  --ui-scrollbar-width: 0;
  --ui-sidebar-left-width: #{px(240)};
  --ui-sidebar-left-min-width: #{px(160)};
  --ui-sidebar-left-max-width: #{px(560)};
  --ui-sidebar-right-width: #{px(320)};
  --ui-sidebar-right-min-width: #{px(200)};
  --ui-sidebar-component-width: #{px(320)};
  --ui-sidebar-component-min-width: #{px(200)};
  --ui-sidebar-component-max-width: #{px(560)};
  --ui-sidebar-component-hide: #{px(40)};
  --ui-sidebar-split-width: 66%;
  --ui-sidebar-split-min-width: #{px(200)};
  --ui-sidebar-split-max-width: 80%;
  --ui-sidebar-split-height: 50%;
  --ui-content-min-width: #{px(240)};

  /* Mobile indicator */
  --ui-mobile: 1;

  @include breakpoint($chrome-breakpoint2) {
    --ui-mobile: 0;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  width: 100%;

  @supports (height: 100dvh) {
    height: 100dvh;
  }
}

html {
  display: flex;
  overflow: hidden;
}

body {
  overflow: auto;
  font-family: Ubuntu, sans-serif;
  color: #fff;
  background: var(--ui-background-invert) linear-gradient(180deg, var(--ui-background-invert) 0%, var(--ui-background-invert-gradient) 100%);
}

a {
  color: inherit;
  text-decoration: none;
}

svg {
  fill: currentcolor;
}
