@use "tools" as *;

.scroll-example-block {
  display: none;
  min-height: 100vh;
  padding: 1rem;
  margin-top: 1rem;
  font-size: 14px;
  background: rgba(#000, .05);
  border: 1px solid rgba(#000, .05);
  border-radius: .5rem;
}

.amount-label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: px(18);
  height: px(18);
  font-weight: 700;
  color: #fff;
  background: $brand;
  border-radius: 100%;
}

.visually\:hidden {
  @include visually-hidden;
}

[hidden] {
  display: none!important;
}

.is\:on {
  display: none;
}

table {
  --ui-table-item-title: #0B55C4;

  inline-size: 100%;
  font-size: var(--ui-font-size-l);
  border-collapse: collapse;

  .box & {
    inline-size: calc(100% + var(--ui-content-box-padding) * 2);
    margin: calc(var(--ui-content-box-padding) * -1);
  }

  th,
  td {
    padding: px(12);
    text-align: left;
  }

  tr:hover {
    --ui-table-item-title: #013381;

    td {
      background: #DBE5EC;
    }
  }

  th {
    position: sticky;
    top: calc(var(--ui-chrome-spacing-m) * -1);
    z-index: 1;
    padding-block: px(16);
    background: #e7eff4;
    box-shadow: inset 0 -1px 0 #BFD0DB;
  }

  tr:not(:first-child) {
    th,
    td {
      border-top: 1px solid #BFD0DB;
    }
  }

  .is\:selected {
    &,
    &:hover {
      td {
        background: #cde7fd;
      }
    }
  }
}

.table-item-title {
  font-size: var(--ui-font-size-xl);
  color: var(--ui-table-item-title);
  cursor: pointer;

  @include hover {
    text-decoration: underline;
  }
}

* {
  user-select: none;
}

.grid {
  display: flex;
  flex-direction: column;
  gap: var(--ui-chrome-spacing-m);
  inline-size: 100%;

  // @TODO: remove this; this is only there for the tailwind dash demo
  [data-theme="claude"] & {
    display: grid;
  }
}

.grid--grow {
  block-size: 100%;

  & > .row {
    flex-grow: 1;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: var(--ui-chrome-spacing-m);
  inline-size: 100%;

  & > * {
    flex-basis: calc((#{px(480)} - 100%) * 999);
    flex-grow: 1;
  }
}

.box {
  padding: var(--ui-content-box-padding);
  background: #fff;
  border: 1px solid #c8d6e1;
  border-radius: var(--ui-chrome-radius-s);
  box-shadow: 0 1px 4px rgba(#c8d6e1, .5);
}

.box--grow {
  block-size: 100%;
}

.box-padding {
  padding: var(--ui-content-box-padding);
}



.switch-views {
  button {
    display: none;
    height: 100%;
    aspect-ratio: 1 / 1;
    padding: 0;
    background: transparent;
    border: none;

    @include breakpoint($chrome-breakpoint2) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  svg {
    width: 1rem;
    height: 1rem;
  }
}

.icon-rows {
  display: none;
}

.is\:stack {
  .icon-rows {
    display: block;
  }

  .icon-columns {
    display: none;
  }
}


.onboarding {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  font-size: var(--ui-font-size-3xl);

  svg {
    width: 1em;
    height: 1em;
    margin-right: 1em;
  }
}

.mdl-data-table {
  border: none !important;
}

.text--strong {
  font-weight: 700;
}


svg:not([width]) {
  width: 1em;
}

svg:not([height]) {
  height: 1em;
}

.login {
  inline-size: 100%;
  max-inline-size: 320px;
  color: #333;
  background: #fff;
  padding: 1.5rem;
  border-radius: var(--ui-radius-m);
  margin: auto;
  box-shadow: 0 0 12px rgba(#000, .15), 0 0 40px rgba(#000, .15);

  a:not([class]) {
    text-decoration: underline;
  }
}

.login__brand {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}

.stack {
  & > * + * {
    margin-block-start: 1.5rem;
  }
}

.stack--small {
  & > * + * {
    margin-block-start: .5rem;
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: .5rem;

  label {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: var(--ui-font-size-xl);
    color: #333;
  }

  input:not([type="checkbox"]):not([type="radio"]) {
    inline-size: 100%;
    block-size: 100%;
    padding: .5rem;
    border: 1px solid #426273;
    min-block-size: px(40);
    border-radius: var(--ui-chrome-radius-s);
    background: #fff;
    color: #333;
    font-size: 16px;
    line-height: var(--ui-line-height-m);

    &:focus {
      outline: none;
      border-color: $brand;
      box-shadow: inset 0 0 0 px(2) $brand;
      transition: box-shadow $chrome-transition-duration $chrome-transition-easing;
      will-change: box-shadow;
    }
  }
}


.divider {
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  inline-size: 100%;
  margin-block: 1.5rem;
  text-align: center;

  @include pseudo(before) {
    inset-block-start: 50%;
    z-index: -1;
    display: block;
    inline-size: 100%;
    block-size: 1px;
    background: #B7CAD7;
  }
}

.divider__content {
  padding: 0 .66em;
  background: #fff;
}

.flag-object {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: .75rem
}

.flag-object__aside {
  flex: 0 0 auto;
}

.flag-object__body {
  flex: 1 1 auto;
  min-inline-size: 50%;
}

.text\:big {
  font-size: 1.5rem;
  font-weight: 700;
}

.text\:medium {
  font-size: 1rem;
  font-weight: 700;
}

.text\:bold {
  font-weight: 700;
}

.align\:right {
  text-align: right;
}

.color\:brand {
  color: $brand;
}

.color\:success {
  color: #42cb6f;
}

.color\:error {
  color: #ef4546;
}

.color\:warning {
  color: #c89e23;
}

.color\:neutral {
  color: #2463eb;
}

.box__heading {
  display: flex;
  justify-content: space-between;
  padding: var(--ui-content-box-padding);
  margin: calc(var(--ui-content-box-padding) * -1) calc(var(--ui-content-box-padding) * -1) var(--ui-chrome-spacing-m);
  border-bottom: 1px solid #B7CAD7;
  font-size: 1rem;
  font-weight: bold;
}


.box {
  overflow: hidden;
}
