@use "tools" as *;

.scroll-example-block {
  display: none;
  min-height: 100vh;
  padding: 1rem;
  margin-top: 1rem;
  font-size: 14px;
  background: rgba(#000, .05);
  border: 1px solid rgba(#000, .05);
  border-radius: .5rem;
}

.amount-label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: px(18);
  height: px(18);
  font-weight: 700;
  color: #fff;
  background: $brand;
  border-radius: 100%;
}

.visually\:hidden {
  @include visually-hidden;
}

[hidden] {
  display: none!important;
}

.is\:on {
  display: none;
}

table {
  --mv-table-item-title: #0B55C4;

  inline-size: 100%;
  font-size: var(--mv-font-size-l);
  border-collapse: collapse;

  th,
  td {
    padding: px(12);
    text-align: left;
  }

  tr:hover {
    --mv-table-item-title: #013381;

    td {
      background: #DBE5EC;
    }
  }

  tr:not(:first-child) {
    th,
    td {
      border-top: 1px solid #BFD0DB;
    }
  }

  .is\:selected {
    &,
    &:hover {
      td {
        background: #cde7fd;
      }
    }
  }
}

.table-item-title {
  font-size: var(--mv-font-size-xl);
  color: var(--mv-table-item-title);
  cursor: pointer;

  @include hover {
    text-decoration: underline;
  }
}

