.color\:brand {
  color: var(--ui-text-brand);
}

.color\:primary {
  color: var(--ui-text-primary);
}

.color\:secondary {
  color: var(--ui-text-secondary);
}

.color\:success {
  color: #42cb6f;
}

.color\:error {
  color: #ef4546;
}

.color\:warning {
  color: #c89e23;
}

.color\:neutral {
  color: #2463eb;
}
