@if $navigation-style == 'mobile-clean' {
  // Navigation
  .navigation--header {
    @include breakpoint(0, $header-breakpoint-min) {
      border: none;
      background: $navigation-style-mobile-clean-background;
      box-shadow: $navigation-style-mobile-clean-box-shadow;

      li {
        border: none!important;
      }

      a {
        padding: .5em $grid-padding;
        font-size: 1rem;
        justify-content: center;
        text-align: center;
      }

      .navigation__item {
        &.active a {
          border: none;
          text-decoration: underline;
          font-weight: $weight-bold;

          @include hover() {
            border: none;
          }
        }
      }
    }
  }
}

