dl, dd, dt {
  @include reset();
}

dl, dd {
  @include content-block;
}

.dl--stripped {
  display: flex;
  flex-direction: column;

  div {
    display: flex;
    padding: .5em;

    &:nth-child(even) {
      background-color: $table-color-background-accent;
    }
  }

  dt, dd {
    margin: 0;
  }

  dt {
    padding-right: .5em;
  }

  @include breakpoint($alfa--plus) {
    dt {
      flex-basis: 33%;
    }

    dd {
      flex-grow: 1;
    }
  }

  &.dl--forms-entry {
    dt {
      font-weight: bold;
    }

    @include breakpoint(0, $header-breakpoint) {
        div {
          flex-direction: column;
        }
    }
  }
}

.dl--entry {
  dt {
    max-width: none;
  }
}
