@media print {
  @page {
    size: auto;
    margin: .5cm;
  }

  * {
    box-shadow: none !important;
    text-shadow: none !important;
  }

  body {
    -webkit-print-color-adjust: exact !important;
    font-family: sans-serif;
    box-shadow: none;
  }

  .navigation,
  .footer,
  .btn {
    display: none;
  }

  .products__sidebar,
  .cta,
  .newsletter,
  .breadcrumb,
  .breadcrumb-shade {
    display: none;
  }

  html,
  body,
  .wrapper,
  .content,
  .content__inner {
    background-color: transparent;
    font-size: 12pt;
  }

  .content__inner {
    padding-left: 0;
    padding-right: 0;
  }

  h6,
  h5,
  h4 {
    font-size: 14pt;
  }

  h3 {
    font-size: 15pt;
  }

  h2 {
    font-size: 16pt;
  }

  h1 {
    font-size: 18pt;
  }

  a::after {
    font-size: smaller;
    content: " (" attr(href) ")";
  }
}
