@use "../tools" as *;

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-block-size: var(--ui-spacing-xl);
  padding: var(--ui-spacing-xs) var(--ui-spacing-s);
  font-weight: 700;
  color: inherit;
  cursor: pointer;
  background: var(--ui-control-primary);
  border: none;
  border-radius: var(--ui-radius-s);
  box-shadow: inset 0 0 0 1px rgba(#000, .2);

  @include transition(all);

  @include hover {
    background: var(--ui-control-primary-hover);
  }

  svg:first-child {
    margin-inline-end: var(--ui-spacing-xs);
  }
}

.button--large {
  min-block-size: px(40);
  font-size: var(--ui-font-size-xl);
}

.button--white {
  background: #fff;
  border-color: #162446;
}

.button--google {
  color: #fff;
  text-decoration: none;
  background: #4285f4;
  border-color: #1c56b5;

  @include hover {
    background: #1c56b5;
    border-color: #1c56b5;
  }
}
