@use "tools" as *;

.uikit {
  display: flex;
  flex-direction: column;
  block-size: 100vh;
  min-block-size: px(320); // So we are usable on not so tall screens
  overflow: hidden;
}

.header {
  position: relative; // For the search-wrapper etc
  display: flex;
  align-items: center;
}

.header__brand {
  display: flex;
  align-items: center;
  gap: 1rem;
  @include transition(min-inline-size 300ms ease-in-out);

  @include breakpoint($breakpoint2) {
    min-inline-size: var(--mv-sidebar-left-width);
  }
}

.header__search {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__switch {
  display: none;

  @include breakpoint($breakpoint2) {
    display: flex;
  }
}

.header__utilities {
  display: none;
  gap: px(12);

  @include breakpoint($breakpoint1) {
    display: flex;
  }
}

.header__utility {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__profile {
  display: flex;
  align-items: center;
  justify-content: center;
}

.layout {
  position: relative; // What for?
  display: flex;
  flex: 1 1 auto;
  max-inline-size: 100%;
}

.sidebar {
  position: relative;
  min-inline-size: px(48);
  max-inline-size: 33vw;
}

.sidebar--left {
  inline-size: px(48);
  max-inline-size: min(33vw, px(320));
  overflow: hidden;
  margin-inline-start: px(-8);
  transition: inline-size 300ms ease-in-out, min-inline-size 300ms ease-in-out;
  flex: 0 1 auto;
  max-height: 100%;
  display: flex;

  @include breakpoint($breakpoint2) {
    inline-size: var(--mv-sidebar-left-width);
  }

  & > .inner {
    min-inline-size: max(var(--mv-sidebar-left-width), var(--mv-sidebar-left-min-width));
  }
}

.uikit.has\:resizing {
  * {
    transition-duration: 0ms!important;
    animation-duration: 0ms!important;
  }

  .sidebar--component {
    inline-size: auto;
    min-inline-size: px(56);
  }
}

.uikit.is\:initializing {
  * {
    animation-duration: 0ms!important;
  }
}

.sidebar__resizer {
  position: absolute;
  inset-block-start: 0;
  inset-block-end: 0;
  inset-inline-end: 0;
  z-index: 9;
  inline-size: px(8);
  background: transparent;
  cursor: ew-resize;
  display: none;

  @include hover() {
    background: $brand;
  }

  @include breakpoint($breakpoint2) {
    display: block;
  }
}

.sidebar[data-resizing] {
  .sidebar__resizer {
    background: $brand;
  }
}

.has\:toggled-sidebar-left {
  .header__brand {
    min-inline-size: 0;
  }

  .sidebar--left {
    min-inline-size: calc(100vw - #{px(16)});
    inline-size: px(48);

    @include breakpoint($breakpoint2) {
      min-inline-size: px(48);
    }
  }

  .sidebar-toggle-left {
    .is\:off {
      display: none;
    }
    .is\:on {
      display: block;
    }
  }

  .navigation-wrapper {
    & > *:not(.navigation--persistent) {
      display: block;

      @include breakpoint($breakpoint2) {
        display: none;
      }
    }
  }
}

.navigation-wrapper {
  & > *:not(.navigation--persistent) {
    display: none;

    @include breakpoint($breakpoint2) {
      display: block;
    }
  }
}

.has\:toggled-sidebar-right {
  .sidebar--right {
    transform: translateX(0);

    &[data-sidebar-type="sidebar"] {
      @include breakpoint($breakpoint2) {
        display: flex;
        animation: slideInRight 300ms ease-in-out;
        min-inline-size: px(48);
      }
    }

    .sidebar__resizer {
      display: block;
    }
  }

  .sidebar-toggle-right {
    color: $brand;
  }
}

@keyframes slideInRight {
  from {
    min-inline-size: 0;
    max-inline-size: 0;
  }

  to {
    min-inline-size: min(var(--mv-sidebar-right-width), 40vw);
    max-inline-size: min(var(--mv-sidebar-right-width), 40vw);
  }
}

.sidebar-overlay-toggle {
  background: #fff;
  z-index: 1;
  opacity: .65;
  cursor: pointer;
  border-radius: var(--mv-radius-s);
  @include coverall();
  @include transition(background 300ms ease-in-out);

  @include hover() {
    background: $brand;
  }

  @include breakpoint($breakpoint2) {
    display: none;
  }
}

.has\:toggled-sidebar-component {
  .sidebar--component {
    @include breakpoint($breakpoint2) {
      min-inline-size: var(--mv-sidebar-component-width);
    }

    .sidebar__resizer {
      display: none;
    }

    .sidebar-overlay-toggle {
      display: none;

      @include breakpoint($breakpoint2) {
        display: block;
      }
    }
  }

  .main {
    & > * {
      transform: translateX(calc((min(var(--mv-sidebar-component-width), 100%) * -1) + var(--mv-sidebar-component-hide) - #{px(8)}));

      @include breakpoint($breakpoint2) {
        transform: none;
      }
    }
  }

  .content {
    @include breakpoint($breakpoint2) {
      min-inline-size: calc(100% - var(--mv-sidebar-component-hide));
    }
  }
}

.uikit:has(.sidebar--left) {
  .component {
    min-inline-size: calc(100vw - #{px(48)} - #{px(8)});

    @include breakpoint($breakpoint2) {
      min-inline-size: 0;
    }
  }
}

.component {
  display: flex;
  flex: 1 1 auto;
  gap: var(--mv-spacing-s);
  max-inline-size: 100%;
  flex-direction: column;
  min-inline-size: 100%;
  overflow: hidden;
}

.toolbar {
  display: flex;
}

.cluster {
  display: flex;
  flex-wrap: wrap;
  gap: var(--mv-cluster-gap);
  flex: 1 1 auto;
}

.visually\:hidden {
  @include visually-hidden();
}

.sidebar--right {
  position: absolute;
  top: 0;
  bottom: px(8);
  right: 0;
  z-index: 9;
  flex: 0 0 auto;
  max-inline-size: calc(100vw - #{px(96)});
  inline-size: var(--mv-sidebar-right-width);
  overflow: hidden;
  transform: translateX(100%);
  transition: transform 300ms ease-in-out;
  border-radius: var(--mv-radius-m) 0 0 var(--mv-radius-m);
  flex-direction: column;

  &[data-sidebar-type="sidebar"] {
    @include breakpoint($breakpoint2) {
      position: relative;
      bottom: auto;
      min-inline-size: calc(100vw - #{px(48)});
      max-inline-size: 40vw;
      margin-inline-start: px(8);
      animation: slideOutRight 300ms ease-in-out forwards;
      transform: none;
      border-radius: var(--mv-radius-m);
    }

    [data-sidebar-type-toggle="sidebar"] {
      display: none;
    }
  }

  // @TODO: 8 and 16 px should be variables
  &[data-sidebar-type="cover"] {
    position: fixed;
    top: px(8);
    left: px(8);
    right: px(8);
    z-index: 11;
    max-inline-size: calc(100% - #{px(16)});
    inline-size: calc(100% - #{px(16)});
    border-radius: var(--mv-radius-m);

    [data-sidebar-type-toggle="cover"] {
      display: none;
    }
  }

  &[data-sidebar-type="float"] {
    .sidebar__resizer {
      inset-inline-start: 0;
    }
    [data-sidebar-type-toggle="float"] {
      display: none;
    }
  }

  & > .inner {
    min-inline-size: max(var(--mv-sidebar-right-width), var(--mv-sidebar-right-min-width));
  }

  .sidebar__resizer {
    inset-inline-end: auto;
    inset-inline-start: -.5rem;
    display: none;
  }

  @include breakpoint($breakpoint2) {
    min-inline-size: px(48);
  }
}

@keyframes slideOutRight {
  from {
    min-inline-size: min(var(--mv-sidebar-right-width), 40vw);
    max-inline-size: min(var(--mv-sidebar-right-width), 40vw);
    margin-inline-start: px(8);
  }

  to {
    min-inline-size: 0;
    max-inline-size: 0;
    margin-inline-start: 0;
  }
}

.main {
  display: flex;
  flex: 1 1 auto;
  gap: var(--mv-spacing-xs);
  transition: transform 300ms ease-in-out;
  overflow: hidden;
}

.content {
  flex: 1 1 auto;
  min-inline-size: calc(100% - var(--mv-sidebar-component-hide));
  transition: all 300ms ease-in-out;

  @include breakpoint($breakpoint2) {
    min-inline-size: calc(100% - var(--mv-sidebar-component-width) - var(--mv-spacing-xs))
  }
}

.sidebar--component {
  position: relative;
  inline-size: var(--mv-sidebar-component-width);
  min-inline-size: min(var(--mv-sidebar-component-width), 100%);
  max-inline-size: 100%;
  flex: 0 1 auto;
  @include transition(transform 300ms ease-in-out);

  @include breakpoint($breakpoint2) {
    min-inline-size: px(48);
    max-inline-size: min(33vw, px(400));
  }

  & > .inner {
    min-inline-size: max(var(--mv-sidebar-component-width), var(--mv-sidebar-component-min-width));
    max-inline-size: 100%;
  }

  .sidebar__resizer {
    inset-inline-end: 100%;
  }
}

[hidden] {
  display: none!important;
}

.search-wrapper {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 9; // TODO: add z-index map
  padding: 0 1rem;
  display: none;

  @include breakpoint($breakpoint2) {
    position: static;
    display: flex;
    //justify-content: center;
    padding: 0;
    width: 100%;
  }
}

.toggle-search.toggle-search {
  @include breakpoint($breakpoint2) {
    display: none;
  }
}

.toggle-wrapper {
  display: none;

  button {
    background: transparent;
    border: none;
    padding: 0;
    color: inherit;
    cursor: pointer;
  }
}

.uikit:has(.sidebar--left:not([hidden])) {
  .toggle-wrapper--sidebar-left {
    display: block;
  }
}

.uikit:has(.sidebar--right:not([hidden])) {
  .toggle-wrapper--sidebar-right {
    display: block;
  }
}

.uikit:has(.sidebar--component:not([hidden])) {
  .toggle-wrapper--sidebar-component {
    display: flex;
  }
}

.uikit.has\:toggled-search {
  .search-wrapper {
    display: block;
  }
}

.is\:on {
  display: none;
}


.sidebar-toggle-left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: px(40);
  height: px(40);
  margin: px(-8);
}
