@use "../illusion" as *;

// Primitive colors as SCSS variables
$brand: #1daaff !default;
$brand-light-shade: #A7D8F3 !default;
$brand-lighter-shade: #d4e3ed !default;
$brand-lightest-shade: #e7eff4 !default;
$brand-medium-shade1: #476580 !default;
$brand-dark-shade1: #1D1C41 !default;
$brand-dark-shade2: #1e3561 !default;
$brand-light-accent1: #F6F6F9 !default;
$brand-light-accent2: #FFF !default;

//$brand: #00c2c8 !default;
//$brand-light-shade: #9bedef !default;
//$brand-lighter-shade: #cde5e6 !default;
//$brand-lightest-shade: #e1f7f8 !default;
//$brand-medium-shade1: #378a8e !default;
//$brand-dark-shade1: #062122 !default;
//$brand-dark-shade2: #073b3c !default;
//$brand-light-accent1: #F6F6F9 !default;
//$brand-light-accent2: #FFF !default;

//$brand: #dc0e75 !default;
//$brand-light-shade: #ff65af !default;
//$brand-lighter-shade: #ffc8e2 !default;
//$brand-lightest-shade: #ffeaf4 !default;
//$brand-medium-shade1: #9a0c53 !default;
//$brand-dark-shade1: #1e0411 !default;
//$brand-dark-shade2: #2b0618 !default;
//$brand-light-accent1: #F6F6F9 !default;
//$brand-light-accent2: #FFF !default;


// Sizes
$uikit-min-height: px(560) !default; // So we are usable on not so tall screens

// Breakpoints
$chrome-breakpoint1: px(480) !default;
$chrome-breakpoint2: px(960) !default;
$chrome-breakpoint2-min: px(959) !default;

// Transition
$chrome-transition-duration: 300ms !default;
$chrome-transition-easing: cubic-bezier(0.25, 1, 0.7, 1) !default;
$component-transition-duration: 300ms !default;
$component-transition-easing: cubic-bezier(0.25, 1, 0.7, 1) !default;
