.label {
  background-color: $color-brand;
  color: white;

  font-size: $font-size-small;
  padding: px(2) px(4);

  border-radius: $border-radius;
}

.label--event {
  display: block;
  padding: 0 px(6);

  small {
    font-size: px(12);
  }
}
