.radiobutton__input {
  display: none;
}

.radiobutton__label {
  border: 1px solid $radiobutton-color-border;
  padding: px(10) px(20);
  border-radius: px(6);
  text-decoration: none;
  color: $radiobutton-color-text;
  display: inline-block;

  @if $radiobutton-color-background {
    background-color: $radiobutton-color-background;
  }

  &:not(&--disabled) {
    @include box-shadow($radiobutton-box-shadow);
  }

  &--disabled {
    background-color: $radiobutton-color-background--disabled;
    color: $color-grey-dark;
    border-color: $color-grey-light;
  }

  &--circle {
    border-radius: 100%;
    padding: 0;
    width: px(40);
    height: px(40);
    line-height: px(40);
    text-align: center;
    margin-bottom: 0;
  }

  &--small {
    padding: 0.5rem 1rem;
    line-height: 1.25;
  }
}

.radiobutton__input:checked + .radiobutton__label,
.radiobutton__label.active,
.radiobutton__label:hover,
.radiobutton__label:focus,
.radiobutton__label:active {
  &:not(.radiobutton__label--disabled) {
    background-color: $radiobutton-color-background--hover;
    color: white;
    border-color: darken($radiobutton-color-background--hover, 8%);
    text-decoration: none;

    @include box-shadow($radiobutton-box-shadow--hover);
  }
}

.radiobutton__label:not(.radiobutton__label--disabled):hover {
  cursor: pointer;
}

.radiobutton__group {
  display: flex;
  flex-wrap: wrap;

  padding: 2px 2px 0 0;

  background-color: lighten($color-grey, 8%);
  border-radius: px(8);
  border: 1px solid $color-grey;
  text-align: center;

  .radiobutton__label {
    flex-grow: 1;
    flex-shrink: 0;

    margin: 0 0 2px 2px;

    background-color: lighten($color-grey, 12%);
    border: 0 none;
    border-radius: px(8);
  }
}
