@use "../tools" as *;

// @TODO: Cleanup chrome styles
// @TODO: All values should be variables
// @TODO: Test different colors
// @TODO: all logical properties
// @TODO: add stylelint

.uikit {
  // Chrome properties
  // Spacing
  --mv-chrome-spacing-s: var(--mv-spacing-xs);
  --mv-chrome-spacing-m: var(--mv-spacing-m);
  --mv-chrome-spacing-l: var(--mv-spacing-l);

  // Radius
  --mv-chrome-radius-s: var(--mv-radius-s);
  --mv-chrome-radius-m: var(--mv-radius-m);

  display: flex;
  flex-direction: column;
  overflow: hidden;

  // Color

  // Chrome style
  font-size: var(--mv-font-size-m);
  block-size: 100vh;
  min-block-size: $uikit-min-height;
}

.header {
  position: relative; // For the search-wrapper etc
  display: flex;
  align-items: center;
  gap: var(--mv-chrome-spacing-m);
  padding: 0 var(--mv-chrome-spacing-m);
}

.header__brand {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  gap: var(--mv-chrome-spacing-m);
  padding: var(--mv-chrome-spacing-m) 0;
  overflow: hidden;
  font-size: var(--mv-font-size-2xl);
  font-weight: 700;

  @include transition(min-inline-size $chrome-transition-duration ease-in-out);

  @include breakpoint($chrome-breakpoint2) {
    min-inline-size: calc(var(--mv-sidebar-left-width) - (var(--mv-chrome-spacing-m) * 2));
  }

  svg {
    flex: 0 0 auto;
  }
}

.brand-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.header__search {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  padding: var(--mv-chrome-spacing-m) 0;
  text-align: center;

  .search {
    position: relative; // to position label and button
    width: 100%;
    max-width: px(400);
    box-shadow: 0 0 40px rgba(#000, .5);

    [type="search"] {
      width: 100%;
      height: px(40);
      padding-right: 1rem;
      padding-left: px(40);
      background: #fff;
      border: none;
      border-radius: var(--mv-radius-s);
    }

    button {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: px(40);
      height: px(40);
      padding: 0;
      line-height: 1;
      color: #93AFC2;
      cursor: pointer;
      background: transparent;
      border: none;
      border-radius: var(--mv-radius-s) 0 0 var(--mv-radius-s);

      @include hover {
        color: #000;
        background: #d4e3ee;
      }

      svg {
        display: block;
      }
    }
  }
}

.header__switch {
  display: none;
  padding: var(--mv-chrome-spacing-m) 0;

  @include breakpoint($chrome-breakpoint2) {
    display: flex;
  }

  select {
    height: px(40);
    padding: px(6) .5rem;
    background: #fff;
    border: none;
    border-radius: var(--mv-radius-s);
  }
}

.header__utilities {
  display: none;
  gap: px(12);
  padding: var(--mv-chrome-spacing-m) 0;

  @include breakpoint($chrome-breakpoint1) {
    display: flex;
  }
}

.header__utility {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: px(40);
  block-size: px(40);
  border: 1px solid #31475A;
  border-radius: var(--mv-radius-s);
}

.header__profile {
  position: relative; // for the dropdown
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--mv-spacing-m);
  padding: var(--mv-chrome-spacing-m) 0;

  svg {
    fill: currentcolor;
  }
}

.profile {
  display: flex;
  padding: 0;
  color: currentcolor;
  cursor: pointer;
  background: transparent;
  border: none;
  inline-size: px(32);
  block-size: px(32);
}

.profile__initials {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
  background: $brand;
  border-radius: 100%;
  inline-size: px(32);
  block-size: 100%;
}

.profile__indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: px(32);
  height: px(32);

  svg {
    width: px(16);
    height: px(16);
  }
}

.layout {
  position: relative; // What for?
  display: flex;
  flex: 1 1 auto;
  max-inline-size: 100%;
  padding-inline: var(--mv-chrome-spacing-s) var(--mv-chrome-spacing-s);
  padding-block-end: var(--mv-chrome-spacing-s);
  overflow: hidden; // for the sidebar overflow hidden to work
}

.component {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  gap: var(--mv-chrome-spacing-m);
  padding: var(--mv-chrome-spacing-m);
  overflow: hidden;
  color: var(--mv-text-primary);
  background: var(--mv-background-primary);
  border-radius: var(--mv-chrome-radius-m);
  max-inline-size: 100%;
  min-inline-size: 100%;

  @include breakpoint($chrome-breakpoint2) {
    min-inline-size: 0;
  }
}

.sidebar {
  position: relative;
  min-inline-size: px(48);
  max-inline-size: 33vw;
}

.sidebar--left {
  display: flex;
  flex: 0 0 auto;
  max-height: 100%;
  overflow: hidden; // fo the inner overflow auto to work
  transition: inline-size $chrome-transition-duration ease-in-out, min-inline-size $chrome-transition-duration ease-in-out;
  inline-size: px(48);
  max-inline-size: min(33vw, px(320));
  margin-inline-start: px(-8);

  @include breakpoint($chrome-breakpoint2) {
    inline-size: var(--mv-sidebar-left-width);
  }

  & > .inner {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    overflow: hidden;
    min-inline-size: min(min(33vw, px(320)), max(var(--mv-sidebar-left-width), var(--mv-sidebar-left-min-width)));
  }

  .sidebar__resizer {
    inset-block: 1rem;
    border-radius: 4px;

    @include hover {
      background: $brand;
    }
  }

  &[data-resizing] {
    .sidebar__resizer {
      background: $brand;
    }
  }
}

.sidebar__body {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  max-height: 100%;
  overflow: hidden;
  color: var(--mv-text-primary);
  background: var(--mv-background-primary);
  box-shadow: 0 0 12px rgb(0 0 0 / 15%), 0 0 24px rgb(0 0 0 / 25%);

  & > * {
    min-inline-size: calc(var(--mv-sidebar-right-min-width) - #{px(8)});
  }

  & > .inner {
    flex: 1 1 auto;
    padding: var(--mv-spacing-m);
    overflow: auto;
  }
}

.uikit.has\:resizing {
  * {
    transition-duration: 0ms!important;
    animation-duration: 0ms!important;
  }
}

.uikit.is\:initializing {
  * {
    animation-duration: 0ms!important;
  }
}

.sidebar__resizer {
  position: absolute;
  z-index: 9;
  display: none;
  cursor: ew-resize;
  background: transparent;
  inset-block: 0;
  inset-inline-end: 0;
  inline-size: px(8);

  @include breakpoint($chrome-breakpoint2) {
    display: block;
  }
}





.navigation-wrapper {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  overflow: auto; // for the overflow container

  hr {
    width: 100%;
    height: 1px;
    margin: 1rem 0;
    background: rgba(#fff, .2);
    border: none;
  }

  .navigation:last-child:not(:first-child) {
    margin-top: auto;
  }

  .overflow > *:not(.navigation--persistent) {
    display: none;

    @include breakpoint($chrome-breakpoint2) {
      display: block;
    }
  }
}



.has\:toggled-sidebar-left {
  .header__brand {
    min-inline-size: 0;
  }

  .sidebar--left {
    min-inline-size: calc(100vw - #{px(16)});
    inline-size: px(48);

    @include breakpoint($chrome-breakpoint2) {
      min-inline-size: px(48);
    }
  }

  &:not(.has\:resizing) {
    .sidebar--left {
      @include hover {
        @include breakpoint($chrome-breakpoint2) {
          min-inline-size: var(--mv-sidebar-left-width);

          .overflow {
            & > *  {
              display: block;
            }
          }
        }
      }
    }
  }

  .sidebar-toggle-left {
    .is\:off {
      display: none;

      @include breakpoint($chrome-breakpoint2) {
        display: block;
      }
    }

    .is\:on {
      display: block;

      @include breakpoint($chrome-breakpoint2) {
        display: none;
      }
    }
  }

  .overflow {
    & > *:not(.navigation--persistent) {
      display: block;

      @include breakpoint($chrome-breakpoint2) {
        display: none;
      }
    }
  }
}

.has\:toggled-sidebar-right {
  .sidebar--right {
    transform: translateX(0);

    &[data-sidebar-type="sidebar"] {
      @include breakpoint($chrome-breakpoint2) {
        display: flex;
        margin-right: 0;
        animation: slide-in-right $chrome-transition-duration ease-in-out;
        min-inline-size: var(--mv-sidebar-right-min-width);
      }
    }

    .sidebar__resizer {
      display: block;
    }
  }

  .sidebar-toggle-right {
    color: $brand;
  }
}

@keyframes slide-in-right {
  from {
    min-inline-size: 0;
    max-inline-size: 0;
  }

  to {
    min-inline-size: min(var(--mv-sidebar-right-width), 40vw);
    max-inline-size: min(var(--mv-sidebar-right-width), 40vw);
  }
}

.sidebar-overlay-toggle {
  z-index: 1;
  cursor: pointer;
  background: #fff;
  border-radius: var(--mv-chrome-radius-s);
  opacity: .65;

  @include coverall;
  @include transition(background $chrome-transition-duration ease-in-out);

  @include hover {
    background: $brand;
  }

  @include breakpoint($chrome-breakpoint2) {
    display: none;
  }
}

.has\:toggled-sidebar-component {
  .sidebar--component {
    @include breakpoint($chrome-breakpoint2) {
      min-inline-size: var(--mv-sidebar-component-width);
    }

    .sidebar__resizer {
      display: none;
    }

    .sidebar-overlay-toggle {
      display: none;

      @include breakpoint($chrome-breakpoint2) {
        display: block;
      }
    }
  }

  .main {
    & > * {
      transform: translateX(calc((min(var(--mv-sidebar-component-width), 100%) * -1) + var(--mv-sidebar-component-hide) - #{px(8)}));

      @include breakpoint($chrome-breakpoint2) {
        transform: none;
      }
    }
  }

  .content {
    @include breakpoint($chrome-breakpoint2) {
      min-inline-size: calc(100% - var(--mv-sidebar-component-hide));
    }
  }
}

.uikit:has(.sidebar--left) {
  .component {
    min-inline-size: calc(100vw - #{px(48)} - #{px(8)});

    @include breakpoint($chrome-breakpoint2) {
      min-inline-size: 0;
    }
  }
}



.toolbar {
  display: flex;
}

.cluster {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  gap: var(--mv-cluster-gap);
}

.visually\:hidden {
  @include visually-hidden;
}

.sidebar--right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: px(8);
  z-index: 9;
  flex: 0 0 auto;
  flex-direction: column;
  transition: transform $chrome-transition-duration ease-in-out, inline-size $chrome-transition-duration ease-in-out, margin $chrome-transition-duration ease-in-out;
  transform: translateX(100%);
  max-inline-size: calc(100vw - #{px(96)});
  inline-size: var(--mv-sidebar-right-width);

  .sidebar__body {
    border-radius: var(--mv-chrome-radius-m) 0 0 var(--mv-chrome-radius-m);
    min-block-size: 100%;
  }

  &[data-sidebar-type="sidebar"] {
    @include breakpoint($chrome-breakpoint2) {
      position: relative;
      bottom: auto;
      margin-right: px(-8);
      transform: none;
      animation: slide-out-right $chrome-transition-duration ease-in-out forwards;
      min-inline-size: calc(100vw - #{px(48)});
      max-inline-size: 40vw;
      padding-inline-start: px(8);

      .sidebar__body {
        border-radius: var(--mv-chrome-radius-m);
      }
    }

    [data-sidebar-type-toggle="sidebar"] {
      display: none;
    }
  }

  &[data-resizing] {
    .sidebar__resizer {
      background: linear-gradient(to bottom, rgba($brand, 0), rgba($brand, 1), rgba($brand, 1), rgba($brand, 0));
    }
  }

  // @TODO: 8 and 16 px should be variables
  &[data-sidebar-type="cover"] {
    position: fixed;
    top: px(8);
    right: px(8);
    left: px(8);
    z-index: 11;
    border-radius: var(--mv-chrome-radius-m);
    max-inline-size: calc(100% - #{px(16)});
    inline-size: calc(100% - #{px(16)});

    [data-sidebar-type-toggle="cover"] {
      display: none;
    }
  }

  &[data-sidebar-type="float"] {
    .sidebar__resizer {
      inset-inline-start: 0;
    }

    [data-sidebar-type-toggle="float"] {
      display: none;
    }
  }

  & > .inner {
    min-inline-size: max(var(--mv-sidebar-right-width), var(--mv-sidebar-right-min-width));
  }

  .sidebar__resizer {
    inset-inline: 0 auto;
    display: none;

    @include hover {
      background: linear-gradient(to bottom, rgba($brand, 0), rgba($brand, 1), rgba($brand, 1), rgba($brand, 0));
    }

    @include pseudo(after, false) {
      top: 50%;
      left: 50%;
      width: 3px;
      height: 1rem;
      border-right: 1px solid #b7c9de;
      border-left: 1px solid #b7c9de;
      transform: translate(-50%, -50%);
    }
  }

  @include breakpoint($chrome-breakpoint2) {
    min-inline-size: px(48);
  }
}

@keyframes slide-out-right {
  from {
    min-inline-size: min(var(--mv-sidebar-right-width), 40vw);
    max-inline-size: min(var(--mv-sidebar-right-width), 40vw);
  }

  to {
    min-inline-size: 0;
    max-inline-size: 0;
  }
}

.main {
  display: flex;
  flex: 1 1 auto;
  gap: var(--mv-chrome-spacing-m);
  overflow: hidden;
  transition: transform $chrome-transition-duration ease-in-out;
}

.content {
  flex: 1 1 auto;
  padding: 1rem;
  overflow: auto;
  font-size: var(--mv-font-size-3xl);
  background: #fff;
  border: 1px solid #B7CAD7;
  border-radius: var(--mv-chrome-radius-s);
  transition: all $chrome-transition-duration ease-in-out;
  min-inline-size: calc(100% - var(--mv-sidebar-component-hide));

  @include breakpoint($chrome-breakpoint2) {
    min-inline-size: calc(100% - var(--mv-sidebar-component-width) - var(--mv-spacing-m))
  }
}

.sidebar--component {
  position: relative;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  inline-size: var(--mv-sidebar-component-width);
  min-inline-size: min(var(--mv-sidebar-component-width), 100%);
  max-inline-size: 100%;

  @include transition(transform $chrome-transition-duration ease-in-out, inline-size $chrome-transition-duration ease-in-out);

  @include breakpoint($chrome-breakpoint2) {
    min-inline-size: var(--mv-sidebar-component-min-width);
    max-inline-size: min(33vw, var(--mv-sidebar-component-max-width));
  }

  & > .inner {
    flex: 1 1 auto;
    padding: 1rem;
    overflow: auto;
    background: #fff;
    border: 1px solid #B7CAD7;
    border-radius: var(--mv-chrome-radius-s);
    min-inline-size: max(var(--mv-sidebar-component-width), var(--mv-sidebar-component-min-width));
    max-inline-size: 100%;
  }

  .sidebar__resizer {
    inset-inline-end: 100%;
    width: var(--mv-spacing-m);

    @include pseudo(after, false) {
      top: 50%;
      left: 50%;
      width: 3px;
      height: 1rem;
      border-right: 1px solid #b7c9de;
      border-left: 1px solid #b7c9de;
      transform: translate(-50%, -50%);
    }


    @include hover {
      &::after {
        border-color: #000;
      }
    }
  }

  &[data-resizing] {
    .sidebar__resizer::after {
      border-color: #000;
    }
  }
}

[hidden] {
  display: none!important;
}

.search-wrapper {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 9; // TODO: add z-index map
  display: none;
  padding: 0 1rem;

  @include breakpoint($chrome-breakpoint2) {
    position: static;
    display: flex;
    width: 100%;

    //justify-content: center;
    padding: 0;
  }
}

.toggle-search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: px(32);
  height: px(32);
  padding: 0;
  color: inherit;
  cursor: pointer;
  background: transparent;
  border: 2px solid rgba(#fff, .66);
  border-radius: 100%;

  @include breakpoint($chrome-breakpoint2) {
    display: none;
  }
}

.toggle-wrapper {
  display: none;

  button {
    padding: 0;
    color: inherit;
    cursor: pointer;
    background: transparent;
    border: none;
  }
}

.uikit:has(.sidebar--left:not([hidden])) {
  .toggle-wrapper--sidebar-left {
    display: block;
  }
}

.uikit:has(.sidebar--right:not([hidden])) {
  .toggle-wrapper--sidebar-right {
    display: block;
  }
}

.uikit:has(.sidebar--component:not([hidden])) {
  .toggle-wrapper--sidebar-component {
    display: flex;
  }
}

.uikit.has\:toggled-search {
  .search-wrapper {
    display: block;
  }
}

.is\:on {
  display: none;
}


.sidebar-toggle-left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: px(40);
  height: px(40);
  margin: px(-8);
}

// @TODO: add close button to the cover view or fix this mess
.sidebar__navigation [data-sidebar-type-toggle="sidebar"],
.sidebar__navigation [data-sidebar-type-toggle="float"] .layer-icon {
  display: none;

  @include breakpoint($chrome-breakpoint2) {
    display: block;
  }
}

.sidebar__navigation [data-sidebar-type-toggle="float"] .close-icon {
  display: none;
}

[data-sidebar-type="cover"] .close-icon {
  display: block !important;

  @include breakpoint($chrome-breakpoint2) {
    display: none!important;
  }
}



.navigation__heading {
  padding: var(--mv-spacing-m);
  font-size: var(--mv-font-size-m);
  font-weight: 400;
  color: #ACC6D9;
  text-transform: uppercase;
  letter-spacing: 0.01em;
}

.navigation__list {
  display: flex;
  flex-direction: column;
  gap: px(8);
  padding-right: px(8);
  padding-left: 0;
  margin: 0;

  & > ::marker {
    font-size: 0;
  }

  li {
    padding-left: px(10);

    @include pseudo(before) {
      top: px(6);
      bottom: px(6);
      left: 0;
      width: px(4);
      background: #40b2ff;
      border-radius: 3px;
      opacity: 0;
    }
  }

  a {
    display: flex;
    align-items: center;
    gap: px(16);
    padding: px(9) px(8);
    font-size: var(--mv-font-size-xl);
    border: 1px solid transparent;
    border-radius: var(--mv-radius-s);

    svg {
      width: 16px;
      height: 16px;
      fill: #a7d8f3;
    }

    @include hover {
      background: #283b65;
      border-color: #3d5075;
    }
  }

  .is\:active {
    &::before {
      opacity: 1;
    }

    a {
      background: #283b65;
      border-color: #3d5075;
    }
  }
}

.filler {
  flex-grow: 1;
}


.profile-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 9; // @TODO: add z-index SCSS map
  display: none;
  width: px(240);
  overflow: hidden; // for the radius
  color: #000;
  background: #fff;
  border: 1px solid #B7CAD7;
  border-radius: var(--mv-chrome-radius-s);
  box-shadow: 0 0 12px rgba(#000, .15);

  ul {
    padding-left: 0;
    margin: 0;

    & > ::marker {
      font-size: 0;
    }
  }

  li + li {
    border-top: 1px solid #e0e0e0;
  }

  a {
    display: block;
    padding: .75em 1em;

    @include hover {
      background: #d4e3ee;
    }
  }
}

.uikit.has\:toggled-profile {
  .profile-dropdown {
    display: block;
  }
}

.sidebar__tabs {
  position: relative;
  z-index: 1;
  flex: 0 0 auto;
  margin-bottom: -1px;

  ul {
    display: flex;
    gap: .5rem;
    padding-left: 0;
    margin: 0;

    & > ::marker {
      font-size: 0;
    }

    li {
      padding-bottom: 1px;
    }

    a {
      display: flex;
      padding: .65em 1em;
      border: 1px solid transparent;
      border-bottom-width: 0;
      border-radius: .5em .5em 0 0;

      @include hover {
        background: rgba(#fff, .5);
        border-color: rgba(#b7cad7, .5);
      }
    }

    .is\:active {
      padding-bottom: 0;

      a {
        height: 100%;
        background: #fff;
        border-color: #b7cad7;
      }
    }
  }
}

// @TODO: Check if we should fix this
.sidebar--component:has(.sidebar__tabs :first-child.is\:active) {
  & > .inner {
    border-top-left-radius: 0;
  }
}

.tab-content {
  display: none;
  overflow: auto;

  &.is\:active {
    display: block;
  }
}

.filters {
  display: flex;
  min-height: px(40);
  background: #fff;
  border-radius: var(--mv-chrome-radius-s);
  bordeR: 1px solid #BFD0DB;
}

.filters__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: px(40);
  height: px(40);
}

.filter {
  position: relative; // for the dropdown

  button {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    gap: .5em;
    height: calc(100% + 2px);
    padding: 0 1em;
    margin: -1px;
    color: inherit;
    cursor: pointer;
    background: #fff;
    border: 1px solid #B7CAD7;

    @include hover {
      background: #e5f0f6;
    }

    &[aria-expanded="true"] {
      background: #d4e2ed;
    }
  }
}

.filter-dropdown {
  position: absolute;
  top: 100%;
  left: -1px;
  width: 100vw;
  max-width: px(320);
  padding: 1rem;
  background: #fff;
  border: 1px solid #B7CAD7;
  border-radius: 0 0  var(--mv-chrome-radius-s) var(--mv-chrome-radius-s);
  box-shadow: 0 0 12px rgba(#000, .15);
}

.reset-filters {
  display: flex;
  align-items: center;
  padding: 1em;
  margin-left: auto;

  button {
    text-decoration: underline;
    cursor: pointer;
    background: transparent;
    border: none;
  }
}

.sidebar__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .75rem;
  background: #fff;
  border-bottom: 1px solid #B7CAD7;

  .cluster {
    flex: 0 0 auto;
  }

  button {
    padding: 0;
    color: inherit;
    cursor: pointer;
    background: transparent;
    border: none;

    svg {
      width: px(16);
      height: px(16);
    }
  }
}

.sidebar__title {
  font-weight: 700;
}


.navigation--stick-to-bottom {
  flex: 0 0 auto;
}
