@use "../tools" as *;

.content {
  flex: 1 1 auto;
  min-inline-size: var(--ui-content-min-width);
  overflow: hidden; // We need this for the .overflow container and vertical split
  transition: all $chrome-transition-duration ease-in-out;

  &:has(~.sidebar--component) {
    margin-inline-end: calc(var(--ui-sidebar-component-hide) + var(--ui-chrome-spacing-m));

    @include breakpoint($chrome-breakpoint2) {
      margin-inline-end: 0;
    }
  }
}
