@use "../tools" as *;

.filters {
  display: flex;
  min-block-size: px(40);
  background: #fff;
  border: 1px solid #BFD0DB;
  border-radius: var(--mv-chrome-radius-s);
}

.filters__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: px(40);
  block-size: px(40);
}

.filter {
  position: relative; // for the dropdown

  button {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    gap: .5em;
    block-size: calc(100% + 2px);
    padding: 0 1em;
    margin: -1px;
    color: inherit;
    cursor: pointer;
    background: #fff;
    border: 1px solid #B7CAD7;

    @include hover {
      background: #e5f0f6;
    }

    &[aria-expanded="true"] {
      background: #d4e2ed;
    }
  }
}

.filter-dropdown {
  position: absolute;
  inset-block-start: 100%;
  inset-inline-start: -1px;
  inline-size: 100vw;
  max-inline-size: px(320);
  padding: 1rem;
  background: #fff;
  border: 1px solid #B7CAD7;
  border-radius: 0 0  var(--mv-chrome-radius-s) var(--mv-chrome-radius-s);
  box-shadow: 0 0 12px rgba(#000, .15);
}

.reset-filters {
  display: flex;
  align-items: center;
  padding: 1em;
  margin-inline-start: auto;

  button {
    text-decoration: underline;
    cursor: pointer;
    background: transparent;
    border: none;
  }
}

.filters__search {
  position: relative;
  display: flex;
  flex: 1 1 auto;

  label {
    @include visually-hidden;
  }

  input {
    inline-size: 100%;
    block-size: 100%;
    padding-inline: px(40) 1rem;
    border: none;
    border-radius: 0;
  }

  button {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    inline-size: px(40);
    block-size: px(40);
    padding: 0;
    line-height: 1;
    color: #93AFC2;
    cursor: pointer;
    background: transparent;
    border: none;
    border-radius: 0;

    @include hover {
      color: #000;
      background: #d4e3ee;
    }

    svg {
      display: block;
    }
  }
}
