@use "../tools" as *;

.header {
  position: relative; // For the search-wrapper etc
  display: flex;
  align-items: center;
  gap: var(--ui-chrome-spacing-m);
  padding: 0 var(--ui-chrome-spacing-m);
}

.sidebar-left-width-imitator {
  display: inherit;
  align-items: inherit;
  gap: inherit;
  transition: all $chrome-transition-duration $chrome-transition-easing;

  @include breakpoint($chrome-breakpoint2) {
    inline-size: calc(#{px(48)} + (calc(var(--ui-sidebar-left-width)) - #{px(48)}) * var(--ui-sidebar-left-progress));
    min-inline-size: var(--ui-sidebar-left-min-width);
    max-inline-size: min(33vw, var(--ui-sidebar-left-max-width));
    padding-inline: var(--ui-chrome-spacing-m);
    margin-inline: calc(var(--ui-chrome-spacing-m) * -1);
  }
}

.header__brand {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  gap: var(--ui-chrome-spacing-m);
  padding: var(--ui-chrome-spacing-m) 0;
  overflow: hidden;
  font-size: var(--ui-font-size-2xl);
  font-weight: 700;

  svg {
    flex: 0 0 auto;
  }
}

.brand-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.header__search {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  padding: var(--ui-chrome-spacing-m) 0;
  text-align: center;
}

.header__switch {
  display: none;
  padding: var(--ui-chrome-spacing-m) 0;

  @include breakpoint($chrome-breakpoint2) {
    display: flex;
  }

  select {
    block-size: px(40);
    padding: px(6) .5rem;
    color: #333;
    background: #fff;
    border: none;
    border-radius: var(--ui-radius-s);
  }
}

.header__utilities {
  display: none;
  gap: px(12);
  padding: var(--ui-chrome-spacing-m) 0;

  @include breakpoint($chrome-breakpoint1) {
    display: flex;
  }
}

.header__utility {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: px(40);
  block-size: px(40);
  border: 1px solid #31475A;
  border-radius: var(--ui-radius-s);
}

.header__profile {
  position: relative; // for the dropdown
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--ui-spacing-m);
  padding: var(--ui-chrome-spacing-m) 0;

  svg {
    fill: currentcolor;
  }
}

.profile {
  display: flex;
  inline-size: px(32);
  block-size: px(32);
  padding: 0;
  color: currentcolor;
  cursor: pointer;
  background: transparent;
  border: none;
}

.profile__initials {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: px(32);
  block-size: 100%;
  font-size: 16px;
  font-weight: 700;
  background: $brand;
  border-radius: 100%;
}

.profile__indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: px(32);
  block-size: px(32);

  svg {
    inline-size: px(16);
    block-size: px(16);
  }
}

.profile-dropdown {
  position: absolute;
  inset-block-start: 100%;
  inset-inline-end: 0;
  z-index: 9; // @TODO: add z-index SCSS map
  display: none;
  inline-size: px(240);
  overflow: hidden; // for the radius
  color: #000;
  background: #fff;
  border: 1px solid #B7CAD7;
  border-radius: var(--ui-chrome-radius-s);
  box-shadow: 0 0 12px rgba(#000, .15);

  @include state('has', 'toggled-profile') {
    display: block;
  }

  ul {
    padding-inline-start: 0;
    margin: 0;

    & > ::marker {
      font-size: 0;
    }
  }

  li + li {
    border-block-start: 1px solid #e0e0e0;
  }

  a {
    display: block;
    padding: .75em 1em;

    @include hover {
      background: #d4e3ee;
    }
  }
}
