@use "../tools" as *;

.main {
  display: flex;
  flex: 1 1 auto;
  gap: var(--mv-chrome-spacing-m);
  overflow: hidden;
  transition: transform $chrome-transition-duration ease-in-out;

  @include state('has', 'toggled-sidebar-component') {
    & > * {
      transform: translateX(calc((min(var(--mv-sidebar-component-width), 100%) * -1) + var(--mv-sidebar-component-hide) - #{px(8)}));

      @include breakpoint($chrome-breakpoint2) {
        transform: none;
      }
    }
  }
}
