@use "../tools" as *;

.main {
  position: relative; // For the split and component sidebars
  display: flex;
  flex: 1 1 auto;
  gap: var(--ui-chrome-spacing-m);
  overflow: hidden;
  transition: transform $chrome-transition-duration $chrome-transition-easing;
  will-change: transform;

  @include has(".sidebar--component") {
    & > * {
      transform: translateX(calc((min(var(--ui-sidebar-component-width), #{100%}) - var(--ui-sidebar-component-hide)) * -1 * var(--ui-sidebar-component-progress)));

      @include breakpoint($chrome-breakpoint2) {
        transform: none;
      }
    }
  }

  @include state('has', 'split-vertical') {
    &:has(.sidebar--split) {
      flex-direction: column;
    }
  }
}
