@use "../tools" as *;

.main {
  position: relative; // For the split and component sidebars
  display: flex;
  flex: 1 1 auto;
  gap: var(--ui-chrome-spacing-m);
  overflow: hidden;
  transition: transform $chrome-transition-duration ease-in-out;

  @include state('has', 'toggled-sidebar-component') {
    & > * {
      transform: translateX(calc((min(var(--ui-sidebar-component-width), 100%) * -1) + var(--ui-sidebar-component-hide) - #{px(8)}));

      @include breakpoint($chrome-breakpoint2) {
        transform: none;
      }
    }
  }
}

.main--stack {
  flex-direction: column;
}
