@use "../tools" as *;

.navigation-wrapper {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  overflow: hidden; // for the .overflow container

  hr {
    inline-size: 100%;
    block-size: 1px;
    margin: px(24) 0;
    background: rgba(#fff, .2);
    border: none;
  }

  .navigation:last-child:not(:first-child) {
    margin-block-start: auto;
  }
}

.navigation__heading {
  padding: var(--ui-spacing-xs) var(--ui-spacing-m) var(--ui-spacing-m);
  font-size: var(--ui-font-size-m);
  font-weight: 400;
  color: #ACC6D9;
  text-transform: uppercase;
  letter-spacing: 0.01em;

  @include pseudo(before) {
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    inline-size: px(48);
    block-size: 100%;
    text-indent: 0;
    content: "...";
    opacity: 0;
  }

  @include breakpoint(0, $chrome-breakpoint2-min) {
    text-indent: -9999px;

    &::before {
      opacity: 1;
    }

    @include state('has', 'toggled-sidebar-left') {
      text-indent: 0;

      &::before {
        opacity: 0;
      }
    }
  }

  @include state('has', 'toggled-sidebar-left') {
    @include breakpoint($chrome-breakpoint2) {
      text-indent: -9999px;

      &::before {
        opacity: 1;
      }
    }
  }
}

.navigation__list {
  display: flex;
  flex-direction: column;
  gap: px(4);
  padding-inline: 0 var(--ui-chrome-spacing-s);
  margin: 0;

  & > ::marker {
    font-size: 0;
  }

  li {
    position: relative;
    min-block-size: px(36);
    padding-inline-start: px(10);

    @include pseudo(before) {
      inset-block: px(4);
      inset-inline-start: 0;
      inline-size: px(4);
      block-size: calc(#{px(36)} - #{px(8)});
      background: #40b2ff;
      border-radius: 3px;
      opacity: 0;
    }
  }

  a {
    display: inline-flex; // this combi works better on iOs
    align-items: center;
    gap: px(16);
    inline-size: 100%; // this combi works better on iOs
    padding: px(9) px(8);
    overflow: hidden;
    font-size: var(--ui-font-size-xl);
    border: 1px solid transparent;
    border-radius: var(--ui-radius-s);

    svg {
      flex: 0 0 auto;
      inline-size: 16px;
      block-size: 16px;
      fill: #a7d8f3;
    }

    @include hover {
      background: #283b65;
      border-color: #3d5075;
    }
  }

  .navigation__item {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .is\:active {
    &::before {
      opacity: 1;
    }

    & > a {
      background: #283b65;
      border-color: #3d5075;
    }

    & > ul {
      display: block;
    }

    & > .nav-toggle {
      transform: rotate(90deg);
    }
  }

  .is\:toggled {
    & > ul {
      display: block;
    }

    & > .nav-toggle {
      transform: rotate(90deg);
    }

    &.is\:active {
      & > ul {
        display: none;
      }

      & > .nav-toggle {
        transform: rotate(0deg);
      }
    }
  }

  // Deeper levels
  ul {
    position: relative;
    display: none;
    padding-left: px(24);
    margin-top: px(4);
    list-style: none;
    pointer-events: none; // so we can click on non icon items on mobile

    @include pseudo(before) {
      top: px(3);
      bottom: px(3);
      left: px(16);
      inline-size: px(2);
      background: rgba(#fff, .2);
    }

    @include state('has', 'toggled-sidebar-left') {
      pointer-events: auto;
    }

    @include breakpoint($chrome-breakpoint2) {
      pointer-events: auto;
    }

    li {
      &::before {
        inset-inline-start: px(-8);
        inline-size: px(2);
        border-radius: 0;
      }

      &.is\:active {
        a {
          background: transparent;
          border-color: transparent;
          font-weight: bold;
        }
      }
    }

    a {
      //@include hover {
      //  background: transparent;
      //  border-color: transparent;
      //  text-decoration: underline;
      //}
    }

    ul {
      padding-left: px(12);

      &::before {
        left: px(10);
      }
    }
  }
}

// @TODO: Want to make this re-usable for other sidebars as well?
.navigation--stick-to-bottom {
  flex: 0 0 auto;
}

.nav-toggle {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  border: none;
  padding: 0;
  width: px(36);
  height: px(36);
  cursor: pointer;

  &::before {
    display: inline-block;
    inline-size: 8px;
    block-size: 8px;
    font-size: 10px;
    color: #A7D8F3;
    content: " ";
    transition: transform 0.2s;
    transform: rotate(-90deg);

    @include svg-mask('<path d="M3.71027 5.88255C3.86985 6.03915 4.1279 6.03915 4.28578 5.88255L7.54702 2.68388C7.7066 2.52728 7.7066 2.27405 7.54702 2.11912C7.38744 1.96418 7.12939 1.96252 6.97151 2.11912L4.00057 5.03457L1.02794 2.11745C0.868356 1.96085 0.610309 1.96085 0.452425 2.11745C0.29454 2.27405 0.292843 2.52728 0.452425 2.68222L3.71027 5.88255Z"/>', currentcolor, 100%, 100%, 8, 8);
  }

  &::after {
    position: absolute;
    inset: 50%;
    z-index: -1;
    inline-size: 24px;
    block-size: 24px;
    content: " ";
    background: #283b65;
    border: 1px solid #3d5075;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }

  &:hover {
    &::after {
      opacity: 1;
    }
  }
}
