@use "../tools" as *;

.navigation-wrapper {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  overflow: hidden; // for the .overflow container

  hr {
    inline-size: 100%;
    block-size: 1px;
    margin: 1rem 0;
    background: rgba(#fff, .2);
    border: none;
  }

  .navigation:last-child:not(:first-child) {
    margin-block-start: auto;
  }

  .overflow > *:not(.navigation--persistent) {
    pointer-events: none;
    opacity: calc(0.5 + (0.5 * var(--ui-sidebar-left-progress, 0)));
    transition: opacity $chrome-transition-duration $chrome-transition-easing;

    @include breakpoint($chrome-breakpoint2) {
      pointer-events: auto;
    }
  }
}

.navigation__heading {
  padding: var(--ui-spacing-m);
  font-size: var(--ui-font-size-m);
  font-weight: 400;
  color: #ACC6D9;
  text-transform: uppercase;
  letter-spacing: 0.01em;

  @include pseudo(before) {
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    inline-size: px(48);
    block-size: 100%;
    text-indent: 0;
    content: "...";
    opacity: 0;
  }

  .navigation--persistent & {
    @include breakpoint(0, $chrome-breakpoint2-min) {
      text-indent: -9999px;

      &::before {
        opacity: 1;
      }

      @include state('has', 'toggled-sidebar-left') {
        text-indent: 0;

        &::before {
          opacity: 0;
        }
      }
    }

    @include state('has', 'toggled-sidebar-left') {
      @include breakpoint($chrome-breakpoint2) {
        text-indent: -9999px;

        &::before {
          opacity: 1;
        }
      }
    }
  }
}

.navigation__list {
  display: flex;
  flex-direction: column;
  gap: px(4);
  padding-inline: 0 var(--ui-chrome-spacing-s);
  margin: 0;

  & > ::marker {
    font-size: 0;
  }

  li {
    padding-inline-start: px(10);

    @include pseudo(before) {
      inset-block: px(6);
      inset-inline-start: 0;
      inline-size: px(4);
      background: #40b2ff;
      border-radius: 3px;
      opacity: 0;
    }
  }

  a {
    display: flex;
    align-items: center;
    gap: px(16);
    padding: px(9) px(8);
    font-size: var(--ui-font-size-xl);
    border: 1px solid transparent;
    border-radius: var(--ui-radius-s);

    svg {
      flex: 0 0 auto;
      inline-size: 16px;
      block-size: 16px;
      fill: #a7d8f3;
    }

    @include hover {
      background: #283b65;
      border-color: #3d5075;
    }
  }

  .is\:active {
    &::before {
      opacity: 1;
    }

    a {
      background: #283b65;
      border-color: #3d5075;
    }
  }
}

// @TODO: Want to make this re-usable for other sidebars as well?
.navigation--stick-to-bottom {
  flex: 0 0 auto;
}
