@use "../tools" as *;

/* Overflow
   ========================================================================== */

.overflow-wrapper {
  flex: 1 1 auto;
  block-size: 100%;
  overflow: hidden;
}

.overflow {
  flex: 1 1 auto;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  scrollbar-color: var(--ui-control-brand) transparent;
  scrollbar-width: thin;

  &:has(> table) {
    scrollbar-color: var(--ui-control-brand) var(--ui-control-tertiary);
  }
}

.overflow--fill {
  min-block-size: 100%;
}

.overflow--no-style {
  scrollbar-width: none;
}
