@use "../tools" as *;

/* Overflow
   ========================================================================== */

.overflow {
  flex: 1 1 auto;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  scrollbar-color: $brand transparent;
  scrollbar-width: thin;

  &:has(> table) {
    scrollbar-color: $brand #bfd0db;
  }
}

.overflow--fill {
  block-size: 100%;
}
