@use "../tools" as *;

/* Overflow
   ========================================================================== */

.overflow {
  flex: 1 1 auto;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

.overflow--fill {
  block-size: 100%;
}


/* Scrollbar
   ========================================================================== */

// We use actual px values here since the scrollbar is a native element

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: inherit;
  border: none;
  border-radius: 0 px(4) px(4) 0;
}

::-webkit-scrollbar-thumb {
  background-color: $brand;
  background-clip: content-box;
  border: 3px solid transparent;
  border-radius: 8px;
}
