@use "../tools" as *;

.search-wrapper {
  position: absolute;
  inset-inline: 0;
  inset-block-start: 100%;
  z-index: 9; // TODO: add z-index map
  display: none;
  padding: 0 1rem;

  @include state('has', 'toggled-search') {
    display: block;
  }

  @include breakpoint($chrome-breakpoint2) {
    position: static;
    display: flex;
    inline-size: 100%;
    padding: 0;
  }
}

.toggle-search {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: px(32);
  block-size: px(32);
  padding: 0;
  color: inherit;
  cursor: pointer;
  background: transparent;
  border: 2px solid rgba(#fff, .66);
  border-radius: 100%;

  @include breakpoint($chrome-breakpoint2) {
    display: none;
  }
}

.search {
  position: relative; // to position label and button
  inline-size: 100%;
  max-inline-size: px(400);
  box-shadow: 0 0 40px rgba(#000, .5);

  [type="search"] {
    inline-size: 100%;
    block-size: px(40);
    padding-inline: px(40) 1rem ;
    font-size: 1rem;
    background: #fff;
    border: none;
    border-radius: var(--ui-radius-s);
  }

  button {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    inline-size: px(40);
    block-size: px(40);
    padding: 0;
    line-height: 1;
    color: #93AFC2;
    cursor: pointer;
    background: transparent;
    border: none;
    border-radius: var(--ui-radius-s) 0 0 var(--ui-radius-s);

    @include hover {
      color: #000;
      background: #d4e3ee;
    }

    svg {
      display: block;
    }
  }
}
