{% extends "../../src/_includes/layouts/base.twig" %}

{% set viewType = 'dashboard' %}

{% set sidebarLeftBody %}{% endset %}
{% set toolbarBody %}{% endset %}

{% block content %}
    <div class="grid">
        <div class="row">
            <div class="box">@TODO: add a nice dashboard view</div>
        </div>
        <div class="row">
            <div class="box">
                Vouchers
            </div>
            <div class="box">
                Take-away
            </div>
            <div class="box">
                Gastenlijst
            </div>
        </div>
    </div>
{% endblock %}

{% set sidebarComponentBody %}

{% endset %}
