@use "../tools" as *;

.cluster {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--ui-cluster-gap);
}

.cluster--s {
  gap: var(--ui-cluster-gap-s);
}

.cluster--l {
  gap: var(--ui-cluster-gap-l);
}

.cluster--fill {
  justify-content: space-between;
}

.cluster--top {
  align-items: flex-start;
}
