@use "../tools" as *;

// win over tailwind
.grid {
  display: flex;
  flex-direction: column;
  gap: var(--ui-spacing-fluid);
  inline-size: 100%;
}

.grid--grow {
  block-size: 100%;

  & > .row {
    flex-grow: 1;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: var(--ui-spacing-fluid);
  inline-size: 100%;

  & > * {
    flex-basis: calc((#{px(480)} - 100%) * 999);
    flex-grow: 1;
  }
}
