@use "../../tools" as *;

.sidebar--component {
  position: absolute;
  top: 0;
  bottom: 0;
  left: calc(100% - var(--ui-sidebar-component-hide));
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  inline-size: var(--ui-sidebar-component-width);
  min-inline-size: min(var(--ui-sidebar-component-width), 100% - var(--ui-sidebar-component-hide) - var(--ui-chrome-spacing-m));
  max-inline-size: calc(100% - var(--ui-sidebar-component-hide) - var(--ui-chrome-spacing-m));

  @include transition(all $chrome-transition-duration $chrome-transition-easing);

  @include state('has', 'toggled-sidebar-component') {
    @include breakpoint($chrome-breakpoint2) {
      inline-size: var(--ui-sidebar-component-hide);
      min-inline-size: var(--ui-sidebar-component-hide);
    }
  }

  @include breakpoint($chrome-breakpoint2) {
    position: relative;
    left: 0;
    inline-size: calc((var(--ui-sidebar-component-width) * var(--ui-sidebar-component-progress)));
    min-inline-size: var(--ui-sidebar-component-min-width);
    max-inline-size: min(33vw, var(--ui-sidebar-component-max-width));

    // When we are resizing with touch
    .uikit.is\:resizing & {
      inline-size: calc(var(--ui-sidebar-component-hide) + ((var(--ui-sidebar-component-width) - var(--ui-sidebar-component-hide)) * var(--ui-sidebar-component-progress)));
      min-inline-size: var(--ui-sidebar-component-hide);
    }
  }

  .sidebar__content {
    flex: 1 1 auto;
    padding: 1rem;
    background: #fff;
    border: 1px solid #B7CAD7;
    border-radius: var(--ui-chrome-radius-s);

    @include breakpoint($chrome-breakpoint2) {
      min-inline-size: min(var(--ui-sidebar-component-width), var(--ui-sidebar-component-min-width));
      max-inline-size: 100%;
    }
  }

  .sidebar__resizer {
    inset-inline-end: 100%;

    @include state('has', 'toggled-sidebar-component') {
      display: none;
    }

    @include pseudo(after, false) {
      inset-block-start: 50%;
      inset-inline-start: 50%;
      inline-size: 3px;
      block-size: 1rem;
      border-inline-end: 1px solid #b7c9de;
      border-inline-start: 1px solid #b7c9de;
      transition: border 100ms ease-in-out 120ms;
      transform: translate(-50%, -50%);
    }

    @include hover {
      &::after {
        border-color: #000;
      }
    }
  }

  &[data-resizing] {
    .sidebar__resizer::after {
      border-color: #000;
    }
  }

  .sidebar__swiper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100vw;
    z-index: 99;
    width: 200vw;
    pointer-events: none;
    background: yellow;
    opacity: 0;
  }
}

// @TODO: should we move this or rename this? Only for component sidebar right now...
.sidebar-overlay-toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  cursor: pointer;
  background: #fff;
  border-radius: var(--ui-radius-s);
  opacity: calc(0.75 - var(--ui-sidebar-component-progress) * 0.75);
  will-change: background, opacity;

  @include transition(background $chrome-transition-duration $chrome-transition-easing, opacity $chrome-transition-duration $chrome-transition-easing);

  @include breakpoint($chrome-breakpoint2) {
    pointer-events: none;
  }

  @include state('has', 'toggled-sidebar-component') {
    pointer-events: none;

    @include breakpoint($chrome-breakpoint2) {
      pointer-events: auto;

      @include hover {
        background: $brand;
        opacity: .5;
      }
    }
  }
}

.sidebar-overlay-toggle-left {
  position: absolute;
  top: 0;
  right: calc(100% + var(--ui-chrome-spacing-m));
  bottom: 0;
  z-index: 1;
  width: 100vw;
  pointer-events: none;
  cursor: pointer;
  background: #fff;
  border-radius: var(--ui-radius-s);
  opacity: calc(var(--ui-sidebar-component-progress) * 0.75);
  will-change: opacity;

  @include transition(opacity $chrome-transition-duration $chrome-transition-easing);

  @include breakpoint($chrome-breakpoint2) {
    display: none;

    @include hover {
      background: $brand;
    }
  }

  @include state('has', 'toggled-sidebar-component') {
    pointer-events: auto;
  }
}

