@use "../../tools" as *;

.sidebar--component {
  position: absolute;
  top: 0;
  bottom: 0;
  left: calc(100% - var(--mv-sidebar-component-hide));
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  inline-size: var(--mv-sidebar-component-width);
  min-inline-size: min(var(--mv-sidebar-component-width), 100% - var(--mv-sidebar-component-hide) - var(--mv-chrome-spacing-m));
  max-inline-size: calc(100% - var(--mv-sidebar-component-hide) - var(--mv-chrome-spacing-m));

  @include transition(all $chrome-transition-duration ease-in-out);

  @include state('has', 'toggled-sidebar-component') {
    @include breakpoint($chrome-breakpoint2) {
      inline-size: var(--mv-sidebar-component-hide);
      min-inline-size: 0;
    }
  }

  @include breakpoint($chrome-breakpoint2) {
    position: relative;
    left: 0;
    min-inline-size: var(--mv-sidebar-component-min-width);
    max-inline-size: min(33vw, var(--mv-sidebar-component-max-width));
  }

  .sidebar__content {
    flex: 1 1 auto;
    padding: 1rem;
    background: #fff;
    border: 1px solid #B7CAD7;
    border-radius: var(--mv-chrome-radius-s);

    @include breakpoint($chrome-breakpoint2) {
      min-inline-size: min(var(--mv-sidebar-component-width), var(--mv-sidebar-component-min-width));
      max-inline-size: 100%;
    }
  }

  .sidebar__resizer {
    inset-inline-end: 100%;

    @include state('has', 'toggled-sidebar-component') {
      display: none;
    }

    @include pseudo(after, false) {
      inset-block-start: 50%;
      inset-inline-start: 50%;
      inline-size: 3px;
      block-size: 1rem;
      border-inline-end: 1px solid #b7c9de;
      border-inline-start: 1px solid #b7c9de;
      transition: border 100ms ease-in-out 120ms;
      transform: translate(-50%, -50%);
    }

    @include hover {
      &::after {
        border-color: #000;
      }
    }
  }

  &[data-resizing] {
    .sidebar__resizer::after {
      border-color: #000;
    }
  }
}

// @TODO: should we move this or rename this? Only for component sidebar right now...
.sidebar-overlay-toggle {
  z-index: 1;
  cursor: pointer;
  background: #fff;
  border-radius: var(--mv-chrome-radius-s);
  opacity: .65;

  @include coverall;
  @include transition(background $chrome-transition-duration ease-in-out);

  @include state('has', 'toggled-sidebar-component') {
    display: none;

    @include breakpoint($chrome-breakpoint2) {
      display: block;
    }
  }

  @include hover {
    background: $brand;
  }

  @include breakpoint($chrome-breakpoint2) {
    display: none;
  }
}
