@use "../../tools" as *;

.sidebar--left {
  display: flex;
  flex: 0 0 auto;
  min-inline-size: min(calc(100vw - (env(safe-area-inset-left) + env(safe-area-inset-right) + #{px(16)})),#{px(400)});
  max-block-size: 100%;
  padding-block-start: px(8);
  margin-inline-start: calc(var(--ui-chrome-spacing-s) * -1);
  overflow: visible;
  transition: min-inline-size $chrome-transition-duration $chrome-transition-easing, inline-size $chrome-transition-duration $chrome-transition-easing;
  will-change: min-inline-size, inline-size;

  @include breakpoint($chrome-breakpoint2) {
    inline-size: calc(#{px(48)} + (calc(var(--ui-sidebar-left-width)) - #{px(48)}) * var(--ui-sidebar-left-progress));
    min-inline-size: var(--ui-sidebar-left-min-width);
    max-inline-size: min(33vw, var(--ui-sidebar-left-max-width));

    @include state('has', 'toggled-sidebar-left|not(resizing)') {
      min-inline-size: px(48);
    }
  }

  .sidebar__content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    min-inline-size: min(#{px(320)}, max(var(--ui-sidebar-left-width), var(--ui-sidebar-left-min-width)));
    padding: 0;
    overflow: hidden;

    @include breakpoint($chrome-breakpoint2) {
      min-inline-size: min(min(33vw, px(320)), max(var(--ui-sidebar-left-width), var(--ui-sidebar-left-min-width)));
    }
  }

  .sidebar__resizer {
    inset-inline-start: 100%;

    @include state('has', 'toggled-sidebar-split') {
      display: none;

      @include breakpoint($chrome-breakpoint2) {
        display: block;
      }
    }

    @include pseudo(after, false) {
      inset-block-start: 50%;
      inset-inline-start: 50%;
      inline-size: 3px;
      block-size: 1rem;
      border-inline-end: 1px solid #b7c9de;
      border-inline-start: 1px solid #b7c9de;
      transition: border 100ms ease-in-out 120ms;
      transform: translate(-50%, -50%);
    }

    @include hover {
      &::after {
        border-color: #000;
      }
    }
  }

  &[data-resizing] {
    .sidebar__resizer::after {
      border-color: #000;
    }
  }

  .sidebar-toggle-left {
    @include state('has', 'toggled-sidebar-left') {
      .is\:off {
        display: none;

        @include breakpoint($chrome-breakpoint2) {
          display: block;
        }
      }

      .is\:on {
        display: block;

        @include breakpoint($chrome-breakpoint2) {
          display: none;
        }
      }
    }
  }

  &:has(.navigation__list li ul:hover) {
    @include breakpoint($chrome-breakpoint2) {
      --ui-sidebar-left-progress: 1;

      .navigation__heading {
        text-indent: 0;

        &::before {
          display: none;
        }
      }

    }
  }

  .sidebar__swiper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    width: 100vw;
    pointer-events: none;
    background: yellow;
    opacity: 0;

    @include breakpoint($chrome-breakpoint2) {
      display: none;
    }
  }
}
