@use "../../tools" as *;

.sidebar--right {
  position: absolute;
  inset-block: 0 px(8);
  inset-inline-end: 0;
  z-index: 4;
  flex: 0 0 auto;
  flex-direction: column;
  inline-size: var(--ui-sidebar-right-width);
  max-inline-size: calc(100vw - #{px(96)});
  transition: transform $chrome-transition-duration $chrome-transition-easing, inline-size $chrome-transition-duration $chrome-transition-easing, margin $chrome-transition-duration $chrome-transition-easing;
  transform: translateX(100%);

  @include state('has', 'toggled-sidebar-right') {
    transform: translateX(0);
  }

  .sidebar__body {
    min-block-size: 100%;
    color: var(--ui-text-primary);
    background: var(--ui-background-primary);
    border-radius: var(--ui-chrome-radius-m) 0 0 var(--ui-chrome-radius-m);
    box-shadow: 0 0 12px rgb(0 0 0 / 15%), 0 0 24px rgb(0 0 0 / 25%);
  }

  &[data-sidebar-type="sidebar"] {
    @include breakpoint($chrome-breakpoint2) {
      position: relative;
      inset-block-end: auto;
      min-inline-size: calc(100vw - #{px(48)});
      max-inline-size: 40vw;
      padding-inline-start: var(--ui-chrome-spacing-s);
      margin-inline-end: calc(var(--ui-chrome-spacing-s) * -1);
      transform: none;
      animation: slide-out-right $chrome-transition-duration $chrome-transition-easing forwards;

      @include state('has', 'toggled-sidebar-right') {
        display: flex;
        min-inline-size: var(--ui-sidebar-right-min-width);
        margin-inline-end: 0;
        animation: slide-in-right $chrome-transition-duration $chrome-transition-easing;
      }

      .sidebar__body {
        border-radius: var(--ui-chrome-radius-m);
      }
    }

    [data-sidebar-type-toggle="sidebar"] {
      display: none;
    }
  }

  // @TODO: 8 and 16 px should be variables
  &[data-sidebar-type="cover"] {
    position: fixed;
    inset-inline: px(8);
    inset-block-start: px(8);
    z-index: 11;
    inline-size: calc(100% - #{px(16)});
    max-inline-size: calc(100% - #{px(16)});
    border-radius: var(--ui-chrome-radius-m);

    [data-sidebar-type-toggle="cover"] {
      display: none;
    }
  }

  &[data-sidebar-type="float"] {
    .sidebar__resizer {
      inset-inline-start: 0;
    }

    [data-sidebar-type-toggle="float"] {
      display: none;
    }
  }

  .sidebar__resizer {
    inset-inline: 0 auto;
    display: none;
    inline-size: var(--ui-chrome-spacing-s);

    @include state('has', 'toggled-sidebar-right') {
      display: block;
    }

    @include pseudo(before, false) {
      inset-block: 0;
      inset-inline: 0;
      inline-size: var(--ui-chrome-spacing-s);
      block-size: 100%;
      background: linear-gradient(to bottom, rgba($brand, 0), rgba($brand, 1), rgba($brand, 1), rgba($brand, 0));
      opacity: 0;
      transition: opacity 100ms ease-in-out 120ms;
    }

    @include hover {
      &::before {
        opacity: 1;
      }

      &::after {
        border-color: #000;
      }
    }

    @include pseudo(after, false) {
      inset-block-start: 50%;
      inset-inline-start: 50%;
      inline-size: 3px;
      block-size: 1rem;
      border-inline: 1px solid #b7c9de;
      transition: border 100ms ease-in-out 120ms;
      transform: translate(-50%, -50%);
    }
  }

  &[data-resizing] {
    .sidebar__resizer {
      &::before {
        opacity: 1;
      }

      &::after {
        border-color: #000;
      }
    }
  }

  @include breakpoint($chrome-breakpoint2) {
    min-inline-size: px(48);
  }
}


@keyframes slide-out-right {
  from {
    min-inline-size: min(var(--ui-sidebar-right-width), 40vw);
    max-inline-size: min(var(--ui-sidebar-right-width), 40vw);
  }

  to {
    min-inline-size: 0;
    max-inline-size: 0;
  }
}


@keyframes slide-in-right {
  from {
    min-inline-size: 0;
    max-inline-size: 0;
  }

  to {
    min-inline-size: min(var(--ui-sidebar-right-width), 40vw);
    max-inline-size: min(var(--ui-sidebar-right-width), 40vw);
  }
}

// @TODO: add close button to the cover view or fix this mess
.sidebar__navigation [data-sidebar-type-toggle="sidebar"],
.sidebar__navigation [data-sidebar-type-toggle="float"] .layer-icon {
  display: none;

  @include breakpoint($chrome-breakpoint2) {
    display: block;
  }
}

.sidebar__navigation [data-sidebar-type-toggle="float"] .close-icon {
  display: none;
}

[data-sidebar-type="cover"] .close-icon {
  display: block !important;

  @include breakpoint($chrome-breakpoint2) {
    display: none!important;
  }
}

