@use "../../tools" as *;

.sidebar--split {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
  z-index: 3; // @TODO: add to z-index map
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  inline-size: min(100% - var(--ui-content-min-width) - var(--ui-chrome-spacing-m), var(--ui-sidebar-split-width));
  min-inline-size: var(--ui-sidebar-split-min-width);
  max-inline-size: var(--ui-sidebar-split-max-width);

  @include transition(all $chrome-transition-duration ease-in-out);

  @include state('has', 'toggled-sidebar-split') {
    @include breakpoint(0, $chrome-breakpoint2-min) {
      inline-size: 100%;
      max-inline-size: 100%;
      transform: translateX(-100%);
    }
  }

  .main--stack & {
    inline-size: 100%;
    max-inline-size: 100%;
    block-size: var(--ui-sidebar-split-height);
    min-block-size: px(200);
    max-block-size: 75%;
  }

  @include breakpoint($chrome-breakpoint2) {
    position: relative;
    left: auto;
  }

  .sidebar__content {
    flex: 1 1 auto;
    max-inline-size: 100%;
    padding: 1rem;
    background: #fff;
    border: 1px solid #B7CAD7;
    border-radius: var(--ui-chrome-radius-s);
  }

  .sidebar__resizer {
    inset-inline-end: 100%;

    @include state('has', 'toggled-sidebar-split') {
      display: none;

      @include breakpoint($chrome-breakpoint2) {
        display: block;
      }
    }

    @include pseudo(after, false) {
      inset-block-start: 50%;
      inset-inline-start: 50%;
      inline-size: 3px;
      block-size: 1rem;
      border-inline-end: 1px solid #b7c9de;
      border-inline-start: 1px solid #b7c9de;
      transition: border 100ms ease-in-out 120ms;
      transform: translate(-50%, -50%);
    }

    @include hover {
      &::after {
        border-color: #000;
      }
    }

    .main--stack & {
      inset-inline: 0;
      inset-block-start: calc(var(--ui-chrome-spacing-m) * -1);
      inline-size: 100%;
      block-size: var(--ui-chrome-spacing-m);
      cursor: ns-resize;

      &::after {
        transform: translate(-50%, -50%) rotate(90deg);
      }
    }
  }

  &[data-resizing] {
    .sidebar__resizer::after {
      border-color: #000;
    }
  }
}


// @TODO: Just for now
.toggle-split-overlay {
  @include breakpoint($chrome-breakpoint2) {
    display: none;
  }
}


.close-split-overlay {
  @include breakpoint($chrome-breakpoint2) {
    display: none;
  }
}
