{% extends "_includes/layouts/base.twig" %}

{% set viewType = 'split' %}

{% block content %}
    <table data-table>
        <thead>
        <tr>
            <th>Naam</th>
            <th>Acties</th>
        </tr>
        </thead>
        <tbody>
        {% for i in 0..3 %}
            <tr>
                <td>
                    <a href="/dialbox/contacten/nieuw" class="table-item-title" data-toggle-split>
                        Tom Janssens
                    </a>
                </td>
                <td>...</td>
            </tr>
            <tr>
                <td>
                    <a href="/dialbox/contacten/nieuw" class="table-item-title" data-toggle-split>
                        Geert Janssens
                    </a>
                </td>
                <td>...</td>
            </tr>
            <tr>
                <td>
                    <a href="/dialbox/contacten/nieuw" class="table-item-title" data-toggle-split>
                        Robin Poort
                    </a>
                </td>
                <td>...</td>
            </tr>
            <tr>
                <td>
                    <a href="/dialbox/contacten/nieuw" class="table-item-title" data-toggle-split>
                        Steven Rombauts
                    </a>
                </td>
                <td>...</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
