{% extends "_includes/layouts/base.twig" %}

{% set viewType = 'split' %}

{% block content %}
    Split view<br/>
    <button type="button" class="toggle-split-overlay" data-toggle-split>Open split</button>
{% endblock %}
