<div class="filters">
    {% if filterBody %}
        {{ filterBody|raw }}
    {% else %}
        <div class="filters__icon">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.121956 1.71563C0.328206 1.27813 0.765706 1 1.25008 1H14.7501C15.2345 1 15.672 1.27813 15.8782 1.71563C16.0845 2.15313 16.022 2.66875 15.7157 3.04375L10.0001 10.0281V14C10.0001 14.3781 9.78758 14.725 9.44696 14.8938C9.10633 15.0625 8.70321 15.0281 8.40008 14.8L6.40008 13.3C6.14696 13.1125 6.00008 12.8156 6.00008 12.5V10.0281L0.281331 3.04063C-0.0217942 2.66875 -0.0874192 2.15 0.121956 1.71563Z" />
            </svg>
        </div>
        <div class="filter">
            <button type="button" class="filter-toggle" aria-expanded="false" aria-controls="dropdown-1" id="toggle-1" data-filter-toggle>
                Filter 1
                <span class="amount-label">2</span>
                <svg width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.14228 5.35319C4.33804 5.54894 4.65457 5.54894 4.84824 5.35319L8.84866 1.35485C9.04441 1.1591 9.04441 0.842566 8.84866 0.648896C8.6529 0.455227 8.33637 0.453145 8.1427 0.648896L4.49839 4.29321L0.85199 0.646814C0.656238 0.451062 0.339703 0.451062 0.146034 0.646814C-0.0476354 0.842566 -0.0497178 1.1591 0.146034 1.35277L4.14228 5.35319Z" fill="black"/>
                </svg>
            </button>
            <div class="filter-dropdown" id="dropdown-1" hidden>
                This is the dropdown
            </div>
        </div>
        <div class="filter">
            <button type="button" class="filter-toggle" aria-expanded="false" aria-controls="dropdown-2" id="toggle-2" data-filter-toggle>
                Filter 2
                <svg width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.14228 5.35319C4.33804 5.54894 4.65457 5.54894 4.84824 5.35319L8.84866 1.35485C9.04441 1.1591 9.04441 0.842566 8.84866 0.648896C8.6529 0.455227 8.33637 0.453145 8.1427 0.648896L4.49839 4.29321L0.85199 0.646814C0.656238 0.451062 0.339703 0.451062 0.146034 0.646814C-0.0476354 0.842566 -0.0497178 1.1591 0.146034 1.35277L4.14228 5.35319Z" fill="black"/>
                </svg>
            </button>
            <div class="filter-dropdown" id="dropdown-2" hidden>
                This is the dropdown
            </div>
        </div>
        <div class="filter">
            <button type="button" class="filter-toggle" aria-expanded="false" aria-controls="dropdown-3" id="toggle-3" data-filter-toggle>
                Filter 3
                <svg width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.14228 5.35319C4.33804 5.54894 4.65457 5.54894 4.84824 5.35319L8.84866 1.35485C9.04441 1.1591 9.04441 0.842566 8.84866 0.648896C8.6529 0.455227 8.33637 0.453145 8.1427 0.648896L4.49839 4.29321L0.85199 0.646814C0.656238 0.451062 0.339703 0.451062 0.146034 0.646814C-0.0476354 0.842566 -0.0497178 1.1591 0.146034 1.35277L4.14228 5.35319Z" fill="black"/>
                </svg>
            </button>
            <div class="filter-dropdown" id="dropdown-3" hidden>
                This is the dropdown
            </div>
        </div>
        <div class="reset-filters">
            <button type="button">Reset filters</button>
        </div>
    {% endif %}
    {% if viewType == 'split' %}
    <div class="switch-views">
        <button type="button" data-table-switch>
            <svg class="icon-rows" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M0 96C0 60.7 28.7 32 64 32l384 0c35.3 0 64 28.7 64 64l0 320c0 35.3-28.7 64-64 64L64 480c-35.3 0-64-28.7-64-64L0 96zm64 64l0 256 160 0 0-256L64 160zm384 0l-160 0 0 256 160 0 0-256z"/></svg>
            <svg class="icon-columns" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M0 96C0 60.7 28.7 32 64 32l384 0c35.3 0 64 28.7 64 64l0 320c0 35.3-28.7 64-64 64L64 480c-35.3 0-64-28.7-64-64L0 96zm128 0l0 128 320 0 0-128L128 96zM448 288l-320 0 0 128 320 0 0-128z"/></svg>
        </button>
    </div>
    {% endif %}
</div>
