<div class="header">
    <div class="toggle-wrapper toggle-wrapper--sidebar-left">
        <button class="sidebar-toggle-left" data-sidebar-toggle="left" data-swipe="sidebar-left">
            <svg class="is:off" width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 1.33455C0 0.597054 0.595833 0.0012207 1.33333 0.0012207H17.3333C18.0708 0.0012207 18.6667 0.597054 18.6667 1.33455C18.6667 2.07205 18.0708 2.66789 17.3333 2.66789H1.33333C0.595833 2.66789 0 2.07205 0 1.33455ZM0 8.00122C0 7.26372 0.595833 6.66789 1.33333 6.66789H17.3333C18.0708 6.66789 18.6667 7.26372 18.6667 8.00122C18.6667 8.73872 18.0708 9.33455 17.3333 9.33455H1.33333C0.595833 9.33455 0 8.73872 0 8.00122ZM18.6667 14.6679C18.6667 15.4054 18.0708 16.0012 17.3333 16.0012H1.33333C0.595833 16.0012 0 15.4054 0 14.6679C0 13.9304 0.595833 13.3346 1.33333 13.3346H17.3333C18.0708 13.3346 18.6667 13.9304 18.6667 14.6679Z" fill="white"/>
            </svg>
            <svg class="is:on" width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.7146 0.334833C15.1609 -0.111611 15.8856 -0.111611 16.3319 0.334833C16.7782 0.781277 16.7782 1.5063 16.3319 1.95275L10.2839 7.99939L16.3283 14.0496C16.7746 14.496 16.7746 15.2211 16.3283 15.6675C15.8821 16.114 15.1573 16.114 14.711 15.6675L8.66663 9.6173L2.61865 15.6639C2.17237 16.1104 1.44761 16.1104 1.00134 15.6639C0.555056 15.2175 0.555056 14.4925 1.00134 14.046L7.04931 7.99939L1.00491 1.94918C0.558626 1.50273 0.558626 0.781277 1.00491 0.334833C1.45118 -0.111611 2.17594 -0.111611 2.62222 0.334833L8.66663 6.38147L14.7146 0.334833Z" fill="white"/>
            </svg>
        </button>
    </div>
    {% if brand %}
        <div class="header__brand">
            <div class="brand-name">
                Dialbox
            </div>
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.5 0.75C9.5 1.16562 9.83438 1.5 10.25 1.5H13.4406L6.46875 8.46875C6.175 8.7625 6.175 9.2375 6.46875 9.52812C6.7625 9.81875 7.2375 9.82187 7.52812 9.52812L14.4969 2.55938L14.5 5.75C14.5 6.16563 14.8344 6.5 15.25 6.5C15.6656 6.5 16 6.16563 16 5.75V0.75C16 0.334375 15.6656 0 15.25 0H10.25C9.83438 0 9.5 0.334375 9.5 0.75ZM2.25 1C1.00625 1 0 2.00625 0 3.25V13.75C0 14.9937 1.00625 16 2.25 16H12.75C13.9937 16 15 14.9937 15 13.75V9.75C15 9.33438 14.6656 9 14.25 9C13.8344 9 13.5 9.33438 13.5 9.75V13.75C13.5 14.1656 13.1656 14.5 12.75 14.5H2.25C1.83438 14.5 1.5 14.1656 1.5 13.75V3.25C1.5 2.83437 1.83438 2.5 2.25 2.5H6.25C6.66563 2.5 7 2.16563 7 1.75C7 1.33438 6.66563 1 6.25 1H2.25Z" fill="#B1DEF7"/>
            </svg>
        </div>
    {% endif %}
    {% if search %}
        <div class="header__search">
            <button type="button" class="toggle-search" data-toggle-search>
                <span class="visually:hidden">
                    Zoeken...
                </span>
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13 6.5C13 7.93437 12.5344 9.25938 11.75 10.3344L15.7063 14.2937C16.0969 14.6844 16.0969 15.3188 15.7063 15.7094C15.3156 16.1 14.6812 16.1 14.2906 15.7094L10.3344 11.75C9.25938 12.5375 7.93437 13 6.5 13C2.90937 13 0 10.0906 0 6.5C0 2.90937 2.90937 0 6.5 0C10.0906 0 13 2.90937 13 6.5ZM6.5 11C7.09095 11 7.67611 10.8836 8.22208 10.6575C8.76804 10.4313 9.26412 10.0998 9.68198 9.68198C10.0998 9.26412 10.4313 8.76804 10.6575 8.22208C10.8836 7.67611 11 7.09095 11 6.5C11 5.90905 10.8836 5.32389 10.6575 4.77792C10.4313 4.23196 10.0998 3.73588 9.68198 3.31802C9.26412 2.90016 8.76804 2.56869 8.22208 2.34254C7.67611 2.1164 7.09095 2 6.5 2C5.90905 2 5.32389 2.1164 4.77792 2.34254C4.23196 2.56869 3.73588 2.90016 3.31802 3.31802C2.90016 3.73588 2.56869 4.23196 2.34254 4.77792C2.1164 5.32389 2 5.90905 2 6.5C2 7.09095 2.1164 7.67611 2.34254 8.22208C2.56869 8.76804 2.90016 9.26412 3.31802 9.68198C3.73588 10.0998 4.23196 10.4313 4.77792 10.6575C5.32389 10.8836 5.90905 11 6.5 11Z" />
                </svg>
            </button>
            <div class="search-wrapper" data-search>
                <div class="search">
                    <label class="visually:hidden">Zoeken...</label>
                    <input type="search" placeholder="Zoeken..." data-search-input>
                    <button type="button">
                        <span class="visually:hidden">
                            Zoeken...
                        </span>
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13 6.5C13 7.93437 12.5344 9.25938 11.75 10.3344L15.7063 14.2937C16.0969 14.6844 16.0969 15.3188 15.7063 15.7094C15.3156 16.1 14.6812 16.1 14.2906 15.7094L10.3344 11.75C9.25938 12.5375 7.93437 13 6.5 13C2.90937 13 0 10.0906 0 6.5C0 2.90937 2.90937 0 6.5 0C10.0906 0 13 2.90937 13 6.5ZM6.5 11C7.09095 11 7.67611 10.8836 8.22208 10.6575C8.76804 10.4313 9.26412 10.0998 9.68198 9.68198C10.0998 9.26412 10.4313 8.76804 10.6575 8.22208C10.8836 7.67611 11 7.09095 11 6.5C11 5.90905 10.8836 5.32389 10.6575 4.77792C10.4313 4.23196 10.0998 3.73588 9.68198 3.31802C9.26412 2.90016 8.76804 2.56869 8.22208 2.34254C7.67611 2.1164 7.09095 2 6.5 2C5.90905 2 5.32389 2.1164 4.77792 2.34254C4.23196 2.56869 3.73588 2.90016 3.31802 3.31802C2.90016 3.73588 2.56869 4.23196 2.34254 4.77792C2.1164 5.32389 2 5.90905 2 6.5C2 7.09095 2.1164 7.67611 2.34254 8.22208C2.56869 8.76804 2.90016 9.26412 3.31802 9.68198C3.73588 10.0998 4.23196 10.4313 4.77792 10.6575C5.32389 10.8836 5.90905 11 6.5 11Z" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    {% endif %}
    {% if switch %}
        <div class="header__switch">
            <select>
                <option>Marsvaardig</option>
                <option>Andere klant</option>
            </select>
        </div>
    {% endif %}
    {% if utilities %}
        <div class="header__utilities">
            <a href="#" class="header__utility">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.85714 0C1.28125 0 0 1.28125 0 2.85714V17.1429C0 18.7188 1.28125 20 2.85714 20H17.1429C18.7188 20 20 18.7188 20 17.1429V2.85714C20 1.28125 18.7188 0 17.1429 0H2.85714ZM5.71429 8.57143C6.50446 8.57143 7.14286 9.20982 7.14286 10V14.2857C7.14286 15.0759 6.50446 15.7143 5.71429 15.7143C4.92411 15.7143 4.28571 15.0759 4.28571 14.2857V10C4.28571 9.20982 4.92411 8.57143 5.71429 8.57143ZM8.57143 5.71429C8.57143 4.92411 9.20982 4.28571 10 4.28571C10.7902 4.28571 11.4286 4.92411 11.4286 5.71429V14.2857C11.4286 15.0759 10.7902 15.7143 10 15.7143C9.20982 15.7143 8.57143 15.0759 8.57143 14.2857V5.71429ZM14.2857 11.4286C15.0759 11.4286 15.7143 12.067 15.7143 12.8571V14.2857C15.7143 15.0759 15.0759 15.7143 14.2857 15.7143C13.4955 15.7143 12.8571 15.0759 12.8571 14.2857V12.8571C12.8571 12.067 13.4955 11.4286 14.2857 11.4286Z"/>
                </svg>
                <span class="visually:hidden">Stats</span>
            </a>
            <a href="#" class="header__utility">
                <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 2.5C0 1.12109 1.12109 0 2.5 0H17.5C18.8789 0 20 1.12109 20 2.5V15C20 16.3789 18.8789 17.5 17.5 17.5H2.5C1.12109 17.5 0 16.3789 0 15V2.5ZM12.6484 6.66016C12.4727 6.40234 12.1836 6.25 11.875 6.25C11.5664 6.25 11.2734 6.40234 11.1016 6.66016L7.70312 11.6445L6.66797 10.3516C6.48828 10.1289 6.21875 10 5.9375 10C5.65625 10 5.38281 10.1289 5.20703 10.3516L2.70703 13.4766C2.48047 13.7578 2.4375 14.1445 2.59375 14.4688C2.75 14.793 3.07812 15 3.4375 15H7.1875H8.4375H16.5625C16.9102 15 17.2305 14.8086 17.3906 14.5C17.5508 14.1914 17.5312 13.8203 17.3359 13.5352L12.6484 6.66016ZM4.375 6.25C4.87228 6.25 5.34919 6.05246 5.70083 5.70083C6.05246 5.34919 6.25 4.87228 6.25 4.375C6.25 3.87772 6.05246 3.40081 5.70083 3.04917C5.34919 2.69754 4.87228 2.5 4.375 2.5C3.87772 2.5 3.40081 2.69754 3.04917 3.04917C2.69754 3.40081 2.5 3.87772 2.5 4.375C2.5 4.87228 2.69754 5.34919 3.04917 5.70083C3.40081 6.05246 3.87772 6.25 4.375 6.25Z"/>
                </svg>
                <span class="visually:hidden">Files</span>
            </a>
            <a href="#" class="header__utility">
                <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.9986 5.4987C12.9986 8.53588 10.0896 10.9981 6.49932 10.9981C5.30569 10.9981 4.19018 10.7263 3.22779 10.2513C2.99343 10.3763 2.72784 10.4982 2.44037 10.6075C1.86855 10.8231 1.18113 10.9981 0.499947 10.9981C0.284345 10.9981 0.0906155 10.8575 0.0249974 10.6513C-0.0406207 10.4451 0.0312467 10.2201 0.206228 10.092L0.212478 10.0857C0.218727 10.0795 0.231226 10.0732 0.246849 10.0607C0.278096 10.0357 0.324966 9.99823 0.38121 9.94511C0.493698 9.842 0.646807 9.69201 0.796791 9.49828C0.968648 9.27956 1.13113 9.01708 1.24049 8.72649C0.459327 7.82033 0 6.70483 0 5.4987C0 2.46152 2.90907 -0.000717163 6.49932 -0.000717163C10.0896 -0.000717163 12.9986 2.46152 12.9986 5.4987ZM7.23361 11.9668C10.902 11.6512 13.9985 9.00771 13.9985 5.4987C13.9985 5.33622 13.9923 5.17374 13.9798 5.01438C17.345 5.22061 19.9979 7.59848 19.9979 10.4982C19.9979 11.7043 19.5386 12.8198 18.7605 13.7291C18.8699 14.0228 19.0324 14.2822 19.2042 14.5009C19.3542 14.6946 19.5073 14.8446 19.6198 14.9477C19.6761 14.9977 19.7229 15.0383 19.7542 15.0633C19.7698 15.0758 19.7823 15.0852 19.7885 15.0883L19.7948 15.0946C19.9698 15.2227 20.0416 15.4477 19.976 15.6539C19.9104 15.8601 19.7167 16.0007 19.5011 16.0007C18.8199 16.0007 18.1325 15.8257 17.5607 15.6101C17.2732 15.5008 17.0045 15.3789 16.7732 15.2539C15.8077 15.7258 14.6922 15.9976 13.4986 15.9976C10.5114 15.9976 7.99291 14.2915 7.23361 11.9668ZM4.2558 3.38643L4.2433 3.41767C4.12769 3.74264 4.29955 4.09885 4.62451 4.21446C4.94948 4.33008 5.30569 4.15822 5.4213 3.83325L5.4338 3.80201C5.46193 3.71764 5.54317 3.66452 5.63066 3.66452H7.14612C7.36485 3.66452 7.53983 3.84263 7.53983 4.05823C7.53983 4.19884 7.46484 4.33008 7.34298 4.39882L6.18685 5.06437C5.99312 5.17686 5.87438 5.38309 5.87438 5.60494V5.95491C5.87438 6.29862 6.1556 6.57984 6.49932 6.57984C6.8399 6.57984 7.118 6.30487 7.12425 5.9674L7.96479 5.48621C8.47411 5.19249 8.7897 4.64879 8.7897 4.06136C8.7897 3.15208 8.05228 2.41778 7.14612 2.41778H5.63066C5.01197 2.41778 4.46203 2.80524 4.2558 3.38955V3.38643ZM7.3336 8.24841C7.34057 8.13477 7.3242 8.0209 7.2855 7.91382C7.2468 7.80674 7.18659 7.70871 7.10858 7.62578C7.03057 7.54284 6.93642 7.47675 6.8319 7.43158C6.72739 7.3864 6.61474 7.36309 6.50088 7.36309C6.38702 7.36309 6.27437 7.3864 6.16985 7.43158C6.06534 7.47675 5.97118 7.54284 5.89317 7.62578C5.81516 7.70871 5.75496 7.80674 5.71626 7.91382C5.67756 8.0209 5.66119 8.13477 5.66815 8.24841C5.66119 8.36206 5.67756 8.47593 5.71626 8.58301C5.75496 8.69009 5.81516 8.78811 5.89317 8.87105C5.97118 8.95399 6.06534 9.02008 6.16985 9.06525C6.27437 9.11043 6.38702 9.13374 6.50088 9.13374C6.61474 9.13374 6.72739 9.11043 6.8319 9.06525C6.93642 9.02008 7.03057 8.95399 7.10858 8.87105C7.18659 8.78811 7.2468 8.69009 7.2855 8.58301C7.3242 8.47593 7.34057 8.36206 7.3336 8.24841Z"/>
                </svg>
                <span class="visually:hidden">Support</span>
            </a>
        </div>
    {% endif %}
    {% if profile %}
        <div class="header__profile">
            <button type="button" class="profile" data-toggle-profile>
                <span class="profile__initials">TJ</span>
            </button>
            <div class="profile-dropdown">
                <ul>
                    <li><a href="#">Profiel</a></li>
                    <li><a href="#">Uitloggen</a></li>
                </ul>
            </div>
        </div>
    {% endif %}
    <div class="toggle-wrapper toggle-wrapper--sidebar-right">
        <button class="sidebar-toggle-right" data-sidebar-toggle="right">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.793 3.32812C12.6172 3.39453 12.5 3.5625 12.5 3.75C12.5 3.9375 12.6172 4.10547 12.793 4.17188L15 5L15.8281 7.20703C15.8945 7.38281 16.0625 7.5 16.25 7.5C16.4375 7.5 16.6055 7.38281 16.6719 7.20703L17.5 5L19.707 4.17188C19.8828 4.10547 20 3.9375 20 3.75C20 3.5625 19.8828 3.39453 19.707 3.32812L17.5 2.5L16.6719 0.292969C16.6055 0.117188 16.4375 0 16.25 0C16.0625 0 15.8945 0.117188 15.8281 0.292969L15 2.5L12.793 3.32812ZM8.01172 2.86328C7.91016 2.64063 7.6875 2.5 7.44531 2.5C7.20313 2.5 6.98047 2.64063 6.87891 2.86328L4.81641 7.31641L0.363281 9.375C0.140625 9.47656 0 9.69922 0 9.94531C0 10.1914 0.140625 10.4102 0.363281 10.5117L4.82031 12.5703L6.875 17.0234C6.97656 17.2461 7.19922 17.3867 7.44141 17.3867C7.68359 17.3867 7.90625 17.2461 8.00781 17.0234L10.0664 12.5664L14.5234 10.5078C14.7461 10.4062 14.8867 10.1836 14.8867 9.94141C14.8867 9.69922 14.7461 9.47656 14.5234 9.375L10.0703 7.32031L8.01172 2.86328ZM15 15L12.793 15.8281C12.6172 15.8945 12.5 16.0625 12.5 16.25C12.5 16.4375 12.6172 16.6055 12.793 16.6719L15 17.5L15.8281 19.707C15.8945 19.8828 16.0625 20 16.25 20C16.4375 20 16.6055 19.8828 16.6719 19.707L17.5 17.5L19.707 16.6719C19.8828 16.6055 20 16.4375 20 16.25C20 16.0625 19.8828 15.8945 19.707 15.8281L17.5 15L16.6719 12.793C16.6055 12.6172 16.4375 12.5 16.25 12.5C16.0625 12.5 15.8945 12.6172 15.8281 12.793L15 15Z" />
            </svg>
        </button>
    </div>
</div>
