<div class="sidebar sidebar--split" data-sidebar="split">
    <div class="sidebar__resizer" data-sidebar-resizer="split" title="drag to resize; doubleclick to reset"></div>
    <div class="sidebar__body">
        <div class="sidebar__content overflow">
            <button type="button" class="close-split-overlay" data-toggle-split>Close split</button>
            The split content
        </div>
    </div>
</div>
