<div class="sidebar sidebar--split" data-sidebar="split">
    <div class="sidebar__resizer" data-sidebar-resizer="split" title="drag to resize; doubleclick to reset"></div>
    <div class="sidebar__body">
        <div class="sidebar__content overflow">
            {% if '/tafelmanager' in page.url %}
                <div class="onboarding">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/></svg> Selecteer een tafel
                </div>
            {% else %}
            <div class="toolbar">
                <div class="cluster">
                    <button class="button" type="button" onclick="window.location.href='/'">Opslaan</button>
                    <button class="button" type="button" onclick="window.location.href='/'">Annuleren</button>
                </div>
                <div class="toggle-wrapper toggle-wrapper--sidebar-component">
                    <button class="sidebar-toggle-component" data-sidebar-toggle="component">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 16.2523C0 16.9437 0.558594 17.5023 1.25 17.5023H3.38672C3.86719 18.6078 4.96875 19.3773 6.25 19.3773C7.53125 19.3773 8.63281 18.6078 9.11328 17.5023H18.75C19.4414 17.5023 20 16.9437 20 16.2523C20 15.5609 19.4414 15.0023 18.75 15.0023H9.11328C8.63281 13.8969 7.53125 13.1273 6.25 13.1273C4.96875 13.1273 3.86719 13.8969 3.38672 15.0023H1.25C0.558594 15.0023 0 15.5609 0 16.2523ZM5 16.2523C5 15.9208 5.1317 15.6029 5.36612 15.3684C5.60054 15.134 5.91848 15.0023 6.25 15.0023C6.58152 15.0023 6.89946 15.134 7.13388 15.3684C7.3683 15.6029 7.5 15.9208 7.5 16.2523C7.5 16.5838 7.3683 16.9018 7.13388 17.1362C6.89946 17.3706 6.58152 17.5023 6.25 17.5023C5.91848 17.5023 5.60054 17.3706 5.36612 17.1362C5.1317 16.9018 5 16.5838 5 16.2523ZM12.5 10.0023C12.5 9.6708 12.6317 9.35286 12.8661 9.11844C13.1005 8.88402 13.4185 8.75232 13.75 8.75232C14.0815 8.75232 14.3995 8.88402 14.6339 9.11844C14.8683 9.35286 15 9.6708 15 10.0023C15 10.3338 14.8683 10.6518 14.6339 10.8862C14.3995 11.1206 14.0815 11.2523 13.75 11.2523C13.4185 11.2523 13.1005 11.1206 12.8661 10.8862C12.6317 10.6518 12.5 10.3338 12.5 10.0023ZM13.75 6.87732C12.4688 6.87732 11.3672 7.64685 10.8867 8.75232H1.25C0.558594 8.75232 0 9.31091 0 10.0023C0 10.6937 0.558594 11.2523 1.25 11.2523H10.8867C11.3672 12.3578 12.4688 13.1273 13.75 13.1273C15.0312 13.1273 16.1328 12.3578 16.6133 11.2523H18.75C19.4414 11.2523 20 10.6937 20 10.0023C20 9.31091 19.4414 8.75232 18.75 8.75232H16.6133C16.1328 7.64685 15.0312 6.87732 13.75 6.87732ZM7.5 5.00232C7.16848 5.00232 6.85054 4.87062 6.61612 4.6362C6.3817 4.40178 6.25 4.08384 6.25 3.75232C6.25 3.4208 6.3817 3.10286 6.61612 2.86844C6.85054 2.63402 7.16848 2.50232 7.5 2.50232C7.83152 2.50232 8.14946 2.63402 8.38388 2.86844C8.6183 3.10286 8.75 3.4208 8.75 3.75232C8.75 4.08384 8.6183 4.40178 8.38388 4.6362C8.14946 4.87062 7.83152 5.00232 7.5 5.00232ZM10.3633 2.50232C9.88281 1.39685 8.78125 0.627319 7.5 0.627319C6.21875 0.627319 5.11719 1.39685 4.63672 2.50232H1.25C0.558594 2.50232 0 3.06091 0 3.75232C0 4.44373 0.558594 5.00232 1.25 5.00232H4.63672C5.11719 6.10779 6.21875 6.87732 7.5 6.87732C8.78125 6.87732 9.88281 6.10779 10.3633 5.00232H18.75C19.4414 5.00232 20 4.44373 20 3.75232C20 3.06091 19.4414 2.50232 18.75 2.50232H10.3633Z"></path>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="stack">
                <button type="button" class="close-split-overlay" data-toggle-split>Close split</button>
                The split content
            </div>
            {% endif %}
        </div>
    </div>
</div>
